[2020-09-21 06:13] Manvityagi opened #1 "Make readme for description of the project"

[2020-09-27 05:10] Manvityagi opened #2 "List the documentation of models"
A confluence doc should be linked with a detailed description of models, attributes, and their data types

[2020-09-27 05:10] Manvityagi opened #3 "List of all APIs"
List all APIs on a confluence doc

[2020-09-27 05:11] Manvityagi opened #4 "Dcoument APIs on swagger"
Proper documentation of all APIs on swagger

[2020-09-27 05:12] Manvityagi opened #5 "List all the xd designs"

[2020-09-27 05:13] #4 closed, assigned to nobody

[2020-09-27 05:13] #3 closed, assigned to nobody

[2020-09-27 05:14] #2 closed, assigned to nobody

[2020-10-08 11:18] #1 closed, assigned to nobody

[2020-10-08 11:20] vaishali614 opened #7 "Add PR Template"

[2020-10-08 11:26] #7 closed, assigned to nobody

[2020-10-08 11:29] #5 closed, assigned to nobody

[2020-10-10 12:36] vaishali614 opened #9 "Add HomePage"

[2020-10-11 06:13] #9 closed, assigned to nobody

[2020-10-19 06:28] Manvityagi opened #12 "Create View opportunity"

[2020-10-19 06:28] #12 closed, assigned to vaishali614

[2020-11-03 16:59] vaishali614 opened #15 "Integrate API"

[2020-11-04 17:39] #15 closed, assigned to nobody

[2021-01-12 09:40] vaishali614 opened #22 "Remove Post Feature"

[2021-02-08 11:14] arbazalam01 opened #25 "Cards on Homepage are not clickable which is not good i think"

[2021-02-14 09:54] Manvityagi commented on #25
Right!
The cards should be clickable.
Do you wanna make a PR for the same? @arbazalam01

[2021-02-14 17:46] arbazalam01 commented on #25
Yes

[2021-02-14 17:46] arbazalam01 commented on #25
is this pr will be eligible for cross woc?

[2021-02-20 20:14] sidmohanty11 opened #27 "Is there any changes you would like to make?"
I want to contribute but I don't know what changes you would like me to make. Can you suggest?

###EVENT
GSSOC

[2021-02-23 06:00] #25 closed, assigned to nobody

[2021-03-01 06:08] chehak123 opened #28 "Font styling"
I want to work on font styling in this website to make it look attractive. I am a participant in GSSOC 21. Can you please assign it to me.

[2021-03-06 05:16] Surajbokde opened #29 "[ Enhacement ] Add animation in cards of known about"
![image](https://user-images.githubusercontent.com/66197682/110196091-31ac3500-7e68-11eb-8350-9e4f481f9b7e.png)

1. add animation in cards-

animation maybe related to cards hover , change of image ,etc

2. modify the card.

add proper screenshots of your work

[2021-03-06 05:18] Surajbokde commented on #28
@chehak123  please provide some screenshots or videos.
so that we accept this issue under GSSoC'21

[2021-03-06 05:24] Surajbokde opened #30 "Create Signup login Components"
![image](https://user-images.githubusercontent.com/66197682/110196361-01fe2c80-7e6a-11eb-944d-06a810984b55.png)
create something like this.
best one will be selected
Add proper screenshots when it is done

[2021-03-06 05:31] Surajbokde opened #31 "Add validation in post a job opportunity"
![image](https://user-images.githubusercontent.com/66197682/110196534-2ad2f180-7e6b-11eb-95a2-a2b245a0ab0e.png)
Add validation in this

[2021-03-06 05:37] Surajbokde opened #32 "Design view opportunity component for mobile and tab view"
![image](https://user-images.githubusercontent.com/66197682/110196628-c95f5280-7e6b-11eb-9b65-a44a56ac8b45.png)
![image](https://user-images.githubusercontent.com/66197682/110196652-fe6ba500-7e6b-11eb-8870-2b5a54d6eb9d.png)
modify the circled part in both images

[2021-03-06 05:58] Surajbokde opened #33 "create about us component and add in home page"
![image](https://user-images.githubusercontent.com/66197682/110197067-f3664400-7e6e-11eb-9644-2c5ab5092d38.png)
refer this image
you can also refer https://girlcodeit.com/#about

[2021-03-06 06:04] Surajbokde opened #34 "create contact us component and add it to home page"
![image](https://user-images.githubusercontent.com/66197682/110197178-ca927e80-7e6f-11eb-87be-0202c1972dfc.png)
we want name ,email ,message and button to send message

[2021-03-06 06:24] Surajbokde opened #35 "create FAQs component and add this to home page"
![image](https://user-images.githubusercontent.com/66197682/110197595-95d3f680-7e72-11eb-813a-c565f786c83a.png)

[2021-03-06 13:18] Sushi22 commented on #30
I am a participant in GSSOC 21. I would like to work on this issue if assigned.

[2021-03-07 16:22] vismitap commented on #29
Hey! I would like to work on this issue as a part of GSSOC'21!

[2021-03-07 18:06] Meghag5 commented on #33
I would like to work on this issue as a part of 2021 pls assign it to me

[2021-03-07 18:16] prachibansal2000 commented on #35
I would like to work on this issue as a part of GSSOC'21

[2021-03-07 18:18] khushboog12 commented on #34
I would like to work on this issue as a part of GSSOC'21.

[2021-03-08 03:41] AishwaryaKaranth commented on #31
Can I work on this as part of GSSOC'21 ?

[2021-03-08 06:30] promaroy commented on #35
Can I work on this as a part of GSSOC '21?

[2021-03-08 11:27] Vishv07 opened #36 "Make it Responsive"
The web app has some Responsiveness problems in the footer and some other areas.

[2021-03-08 13:34] Surajbokde commented on #36
@Vishv07  please describe more about this issue

[2021-03-08 13:35] vaishnavig20 commented on #30
I am a participant in GSSOC 21. Can I be work on this issue

[2021-03-08 15:56] RituCs commented on #29
Hello, can I start working on this issue?If it is open please assign me.

[2021-03-08 16:21] Ankita297 commented on #30
Can i work on this ?

[2021-03-08 16:23] VishalPatil18 commented on #34
Hey, @Surajbokde I can try this. I appreciate it if you can assign this to me. Thanks!

[2021-03-08 16:24] VishalPatil18 commented on #33
Hey, @Surajbokde I would like to work on this if you can assign it me. Thanks!

[2021-03-08 17:37] nandini7637 commented on #34
Hello I would like to contribute to it being a part of GSSOC, please assign it to me

[2021-03-08 17:38] nandini7637 commented on #28
Hello I would like to contribute to it being a part of GSSOC, please assign me this issue

[2021-03-08 17:39] nandini7637 commented on #33
Hello I would like to contribute to it being a part of GSSOC, please assign it to me.

[2021-03-08 20:54] subhangi2731 commented on #35
can you please assign it to me?

[2021-03-08 20:55] subhangi2731 commented on #29
can you assign it to me?

[2021-03-09 03:47] sahildotexe commented on #34
Hey !! I 'm a participant of GSSOC'21, can you assign this issue to me?

[2021-03-09 03:51] sahildotexe commented on #31
Hey !! I 'm a participant of GSSOC'21, can you assign this issue to me?

[2021-03-09 04:46] saumyasrivastava08 commented on #36
Can i work on this issue ? As we click on the opportunities folder then it is not properly responsive

[2021-03-09 04:47] saumyasrivastava08 commented on #35
Can I work on this? @Surajbokde

[2021-03-09 04:48] saumyasrivastava08 commented on #34
I would like to contribute to this issue

[2021-03-09 04:48] saumyasrivastava08 commented on #32
@Surajbokde Can I work on this.

[2021-03-09 05:41] saumyaparikh commented on #33
I would like to contribute as a GSSOC'21 participate.

[2021-03-09 05:42] saumyaparikh commented on #36
I would like to contribute as a GSSOC'21 participate.

[2021-03-09 05:42] saumyaparikh commented on #35
I would like to contribute as a GSSOC'21 participate.

[2021-03-09 05:42] saumyaparikh commented on #34
I would like to contribute as a GSSOC'21 participate.

[2021-03-09 05:42] saumyaparikh commented on #30
I would like to contribute as a GSSOC'21 participate.

[2021-03-09 05:43] saumyaparikh commented on #29
I would like to contribute as a GSSOC'21 participate.

[2021-03-09 05:51] Surajbokde commented on #35
@prachibansal2000  go ahead

[2021-03-09 05:52] Surajbokde commented on #34
@khushboog12    go ahead . Best one will be selected

[2021-03-09 05:55] mis-coder commented on #33
Hi I would like to work on this issue!

[2021-03-09 05:59] mis-coder commented on #29
I would love to make those cards look alive (that's what animations do right). See if you could assign this issue to me.

[2021-03-09 05:59] Surajbokde commented on #33
@Meghag5  go ahead

[2021-03-09 06:01] Surajbokde commented on #32
@saumyasrivastava08  go ahead

[2021-03-09 06:07] Surajbokde commented on #31
@AishwaryaKaranth  go ahead

[2021-03-09 06:08] Surajbokde commented on #30
@Sushi22  go ahead

[2021-03-09 06:15] Surajbokde commented on #29
@vismitap  go ahead

[2021-03-09 06:39] EkjotKaur commented on #36
I would like to contribute on this issue (GSSOC'21).
Please assign me this issue @vishv07 @Surajbokde.

[2021-03-09 06:57] saumyasrivastava08 commented on #32
Sure

[2021-03-09 07:17] Sushi22 commented on #30
okay thanks @Surajbokde

[2021-03-09 09:17] Karthik-Nayak98 opened #38 "Adding Dark mode to the site."
I want to add a button that will toggle between Dark and Light mode.

[2021-03-09 09:17] Karthik-Nayak98 commented on #38
I want to contribute to this as a part of GSSOC 21.

[2021-03-09 09:36] Anuradha0501 commented on #30
I am a participant in GSSOC 21. I would also like to work on this issue if assigned.

[2021-03-09 11:57] saumyasrivastava08 commented on #32
@Surajbokde i fixed the issue

[2021-03-09 12:57] Surajbokde commented on #32
@saumyasrivastava08  we will review it soon

[2021-03-09 14:09] Manvityagi commented on #38
Seems like a good idea @Karthik-Nayak98.
Go ahead!

[2021-03-09 14:27] Surajbokde commented on #36
@Vishv07 please describe more about this issue by tomorrow otherwise i will close this issue

[2021-03-09 14:56] Vishv07 commented on #36
Open this web app on your mobile or smaller screen and you will get to know. There are some divs and in the footer, there's inappropriate alignment.

[2021-03-09 16:25] bhubesh757 opened #41 "fix NavBar Button Error!"
After pressing the button its not scrolling to the particular content/ page

[2021-03-09 21:35] kanak22 opened #42 "Adding hover effects on buttons"
I saw that the buttons on the site don't have a hover effect. Can I work on this and contribute to the project as a part of GSSOC'21. Kindly assign it to me.

[2021-03-10 04:03] Karthik-Nayak98 commented on #38
Yes sure. @Manvityagi

[2021-03-10 04:05] abdus commented on #42
Sure. Feel free to contact us through discord if you get stuck.

[2021-03-10 04:08] abdus commented on #41
Nice catch. Let me know if you want to work on this, and I will assign this to you.

[2021-03-10 04:29] Surajbokde commented on #36
@Vishv07  go ahead

[2021-03-10 04:34] Surajbokde opened #43 "🚨 Rules for participants"
🚨 Rules for participants

1. Only 1 issue will be assigned to a participant at a time on FCFS basis.

2. Comment on a particular issue to get it assigned to you.

3. If any issue is assigned to you, make sure you complete it before deadline.

4. Deadline for issues:
    LEVEL0 or LEVEL1 : 2 days
    LEVEL2 : 3 days
    LEVEL3 : 5 days
    If you fail to make a PR within the deadline, then the issu

[2021-03-10 04:37] #29 closed, assigned to vismitap

[2021-03-10 04:45] Vishv07 commented on #36
Hey @Surajbokde  Let @EkjotKaur Give it a shot

[2021-03-10 05:03] Manvityagi commented on #36
@EkjotKaur Assigned to you - Level 1 issue - You have 2 days to complete it, If you are not able to complete it by then, it will be assigned to other contributors.

Feel free to ping the mentors on the Discord server for any doubts.

[2021-03-10 05:22] vismitap commented on #41
May I work on this issue as a part of GSSOC'21?

[2021-03-10 05:31] kanak22 commented on #42
Sure 😊

[2021-03-10 06:27] rutuja2229 commented on #41
I want to try for this, participant of GSSoC 2021, can I work on this issue?

[2021-03-10 07:34] mohitms007 opened #44 "Changing the "No Opportunities " to "Loading Opportunities if any" on all components"
This usually creates a dilemma of no opportunities so users generally close the website immediately, we can make this change so that users stay and wait for the results to appear

[2021-03-10 07:34] mohitms007 commented on #44
Can I be assigned this issue

[2021-03-10 07:42] mohitms007 opened #45 "Drop Down remains the same even when selected other label."
The Opportunities drop down remains the same even if we select for example scholarships it doesn't change according to the item we selected.

[2021-03-10 07:42] mohitms007 commented on #45
Can I work on this?

[2021-03-10 07:54] saumyasrivastava08 commented on #44
@mohitms007  We can add preloader to

[2021-03-10 07:57] mohitms007 commented on #44
Yes we definitely can!

[2021-03-10 07:59] Manvityagi commented on #41
@abdus , Are we waiting for @bhubesh757 ?

[2021-03-10 08:00] mohitms007 opened #47 "Adding Unit Tests to the Project"
We can add unit tests to the project to make it more reliable and better as tests are one of the most important things in a project.
Can I be assigned to this issue???

[2021-03-10 08:26] abdus commented on #41
@Manvityagi, since @bhubesh757 neither expressed their willingness to work on this issue while creating it nor responded, I would go ahead and assign @vismitap.

I am sorry I can't assign this issue to you at the moment, @rutuja2229. Issues are assigned on a First Come First Serve basis.

[2021-03-10 08:54] abdus commented on #45
@mohitms007 I have assigned you the other issue. It's against the rules to assign multiple issues at the same time.

[2021-03-10 08:57] bhubesh757 commented on #41
I will assign this issue , actually i was in a class @abdus

[2021-03-10 08:58] mohitms007 commented on #45
Sorry didn't knew this. Thanks!

[2021-03-10 09:01] abdus commented on #44
@mohitms007 finish assigned issues first.

[2021-03-10 09:03] abdus commented on #41
@bhubesh757 Please find another [issue from here](https://github.com/Girl-Code-It/Opportunity-Calendar-Frontend/issues?q=is%3Aissue+is%3Aopen+label%3Aup-for-grabs)

[2021-03-10 09:51] bhubesh757 commented on #41
@abdus  Just now i Solved , I completed

[2021-03-10 11:15] Vishv07 commented on #47
What are you planning to add Cypress or jest?

[2021-03-10 12:38] vismitap commented on #45
May I work on this issue as a part of GSSOC'21?

[2021-03-10 12:43] #41 closed, assigned to bhubesh757

[2021-03-10 13:56] khushboog12 commented on #34
Thank you. Will work on it.

[2021-03-10 14:02] #22 closed, assigned to nobody

[2021-03-10 14:42] dsnehasish74 opened #56 "unnecessary White Space to right side of the cards So we can make this card full width in mobile view"
![Screenshot (541)](https://user-images.githubusercontent.com/58779604/110646071-89d29680-81dc-11eb-8b9d-26d39a548a45.png)

Can you Please assign this issue to me. I want to contribute as part of Gssoc21

[2021-03-10 14:44] Surajbokde commented on #56
@dsnehasish74  go ahead

[2021-03-10 14:45] Sushi22 commented on #30
![Screenshot from 2021-03-10 20-05-47](https://user-images.githubusercontent.com/49645768/110645693-36604880-81dc-11eb-9f92-1f136288f513.png)
![Screenshot from 2021-03-10 20-14-37](https://user-images.githubusercontent.com/49645768/110646818-47f62000-81dd-11eb-8fc6-b7402bf8f9a4.png)

@Surajbokde I have created the Signup and login component. Please have a view so that I can improve if needed.

[2021-03-10 14:46] dsnehasish74 commented on #56
Thank you

[2021-03-10 14:53] kartikpuri99 opened #57 "Increasing the font size and adding some spacing in deadline in the opportunity cards in mobile view"
![image](https://user-images.githubusercontent.com/52126579/110648062-66a8e680-81de-11eb-8bd5-4ebd8c2a840b.png)
Please assign this issue to me as a part of GSSOC'21

[2021-03-10 14:54] Surajbokde commented on #30
@Sushi22  looks good to me .
@DeepanshiD please check

[2021-03-10 14:59] saumyasrivastava08 commented on #57
I am working on this kindly check issue #32

[2021-03-10 15:11] #57 closed, assigned to nobody

[2021-03-10 15:22] nandini2110 opened #59 "Design Search Component on the Home page"
I would like to make changes to this search bar styling
<img width="252" alt="12" src="https://user-images.githubusercontent.com/51056716/110650680-c1dbd880-81e0-11eb-8a54-1fbc94c62c20.PNG">

In an attempt to improvise on the styling of the search bar and add effects to it

I would like to work on this issue as a part of GSSOC'21

[2021-03-10 15:45] DeepanshiD commented on #30
@Sushi22 @Surajbokde
Keep enough space between title and input field. Now Email, password etc are dynamic text, once user starts typing it will vanish but this isn't a good flow. Rather keep a fixed title and input fields with proper spacing.
In case you find an overflow, decrease size of text for titles.
Sign up and Login button should be center aligned.
Sign up using google must be below Sign up

[2021-03-10 16:10] Sushi22 commented on #30
Okay, @DeepanshiD got it!
 I will do all these corrections. :)

Can you please send the link to the discord server for this project if we have?

[2021-03-10 16:16] Surajbokde commented on #30
@Sushi22  you will added to discord soon

[2021-03-10 16:21] vaishali614 commented on #30
@Sushi22 There should be a "Login with Google" button too.

[2021-03-10 16:30] Sushi22 commented on #30
okay sure @vaishali614  I will add it :)

[2021-03-10 16:46] Sapna2001 opened #62 "Scroll to Top"
I would like to add a button to pages so that the top of the page can be reached when the user reaches the bottom of any page without manually scrolling.

I would like to do this as a part of GSSOC 2021.

[2021-03-10 16:56] bhubesh757 opened #63 "fix Post oppurtunity in Explore !"
**Issue**
If We press the Button in Post oppurtunity from this link https://happy-shockley-488e36.netlify.app/viewopportunity/hackathon =>  it redirects to the page of https://happy-shockley-488e36.netlify.app/postopportunity/hackathon  the issue is Only Footer is Available
The Header and  Form is not Visible and this issue is also suits for oppurtunities abd The Rest of the options are fine
@abdu

[2021-03-10 17:21] #36 closed, assigned to EkjotKaur

[2021-03-10 17:29] Surajbokde commented on #36
@EkjotKaur  this issue is promoted to level2  as you solved lots of issue

[2021-03-10 17:29] Surajbokde commented on #56
@dsnehasish74  sorry to say , but someone solved this issue as sub-issue so i am closing this issue.
you can look for another issue

[2021-03-10 17:30] #56 closed, assigned to nobody

[2021-03-10 18:21] promaroy commented on #44
Can I work on this issue as a part of GSSOC '21?

[2021-03-10 19:28] Sushi22 commented on #30
![Screenshot from 2021-03-11 00-50-08](https://user-images.githubusercontent.com/49645768/110684987-cc5b9980-8203-11eb-889c-80202b5b5e15.png)
![Screenshot from 2021-03-11 00-55-43](https://user-images.githubusercontent.com/49645768/110685669-894df600-8204-11eb-8dec-51995bc7a73d.png)

This looks good? Actually, the labels would not vanish when the user will fill the input fields, they will slide up

[2021-03-10 20:44] vaishali614 opened #66 "fix Search Icon on Navbar"

[2021-03-10 20:46] #66 closed, assigned to nobody

[2021-03-10 20:49] vaishali614 commented on #59
@nandini2110 This issue has been solved as a sub-issue of some other issue. Please look on other issues.

[2021-03-10 20:49] #59 closed, assigned to nobody

[2021-03-10 20:59] vaishali614 commented on #44
@promaroy go ahead

[2021-03-10 21:13] vaishali614 commented on #30
@Sushi22 Looks good to me.

Some basic changes:
1. In Sign Up form, "Sign in with Google" --> "Sign Up with Google"
2. In Sign Up form, "Terms of Conditions" --> either "Terms of Use" or "Terms and Conditions"
3. In Login form, "Sign in with Google" --> "Login with Google"
4. Yeah, we should have a "Forgot Password" link too.
5. I think the required "*" should be colored as #8b0000 or some other s

[2021-03-11 01:19] mohitms007 commented on #47
Jest

[2021-03-11 01:20] mohitms007 commented on #47
Wanted to ask should I keep the tests in btween folders or create a seperate folder for all the tests?

[2021-03-11 02:22] Vishv07 commented on #47
Create a separate folder for tests. It would be better

[2021-03-11 02:57] mohitms007 commented on #47
Yeah doing the same!

[2021-03-11 05:18] VishalPatil18 commented on #33
Hey, @Surajbokde I've finished making the about us component and also have added it to the home screen. Can I make a PR?
Thanks!

[2021-03-11 05:25] saumyasrivastava08 opened #67 "Add Some Css and contact form in it."
Can I work on this .

[2021-03-11 05:27] Surajbokde commented on #33
@SpecTEviL  sure ,make pr

[2021-03-11 05:28] VishalPatil18 commented on #33
Sure will do it ASAP after reading the guidelines.

[2021-03-11 05:43] healer9 commented on #45
Hello, @abdus I also want to work on this issue, if it didn't get resolved.

[2021-03-11 05:53] #35 closed, assigned to prachibansal2000

[2021-03-11 05:54] healer9 opened #69 "Ugly Black thick outline (button - border) appeared when we click Explore, Apply, Login/SignUp button"
# When we click any of the buttons it gets focused with an outline. I want to fix this

---

## Explore button preview when it gets clicked (outline appeared)

![explore-btn](https://user-images.githubusercontent.com/60239025/110741876-67cc2900-825b-11eb-9cbf-087cc23102e4.png)

## Login/SignUp button preview when it gets clicked (outline appeared)

![login-signup-btn](https://user-images.githubuse

[2021-03-11 05:55] Sushi22 commented on #30
![Screenshot from 2021-03-11 10-39-31](https://user-images.githubusercontent.com/49645768/110742445-63ecd680-825c-11eb-976d-69d47fe88089.png)
Should i put a logo upright there!? like this

[2021-03-11 06:13] Sushi22 commented on #30
I have made the required changes as well as added route for this component.
![Screenshot from 2021-03-11 11-41-50](https://user-images.githubusercontent.com/49645768/110743922-db236a00-825e-11eb-938a-75e0c1ba6359.png)
![Screenshot from 2021-03-11 11-41-45](https://user-images.githubusercontent.com/49645768/110743932-e080b480-825e-11eb-9b76-794b1cee07aa.png)

please review once. @Surajbokde @vaisha

[2021-03-11 06:15] SpecTEviL commented on #33
Hey, @Surajbokde I've made a PR. You can review it. In case of any discrepancy do let me know.
Thanks!

[2021-03-11 06:17] dsnehasish74 commented on #63
I want to work on this as part of GSSOC21 can you assign this to me

[2021-03-11 06:31] DeepanshiD commented on #30
@Sushi22 The layout looks great! Forgot password has to be right aligned always.
It will look better if you increase button size of Sign up/Login to match Sign up with Google button size, that way it will look more consistent.
Add some padding to the card, 16-24 px or something which is a multiple of 8.
The titles of input fields should be fixed, like the screenshot above.

[2021-03-11 06:49] VishalPatil18 commented on #33
Hey, @Surajbokde I've made a PR. You can review it. In case of any discrepancy do let me know.
Thanks!

[2021-03-11 06:50] vaishali614 commented on #30
@Sushi22 Please make the changes suggested by @DeepanshiD and send the PR.
Also, the labels sliding upwards would look better than fixed labels. What do you think @Surajbokde ?

[2021-03-11 07:19] abdus commented on #63
@bhubesh757 sure, you can start working on it.

[2021-03-11 07:20] abdus commented on #67
Can you explain what kind of changes you will be making?

[2021-03-11 07:22] Sushi22 commented on #30
The titles would become fixed when user will start typing, they will slide upwards. Adding some more padding is actually disturbing the view in some devices, though I will for some way round to fix that.
other changes like button size I will make for sure. :)

[2021-03-11 07:23] mohitms007 commented on #47
I have made a pull request and the details too have been added. Was facing issues as PL produced 5 checks errors but updated the package.json and now pull request is ready to be merged.

[2021-03-11 07:23] Sushi22 commented on #30
yeah sure I will send the PR asap.

[2021-03-11 07:43] Sushi22 commented on #30
I have send the PR .Please review @DeepanshiD @vaishali614 @Surajbokde

[2021-03-11 07:59] Sushi22 opened #78 "integrate signup and login in frontend with backend apis."
Hello. Currently, I am working on creating Signup and Login components, I would like to add this issue with the same.

[2021-03-11 09:07] saumyasrivastava08 commented on #67
Will make one row and little section of contact form.

[2021-03-11 10:14] #47 closed, assigned to mohitms007

[2021-03-11 10:20] #33 closed, assigned to Meghag5

[2021-03-11 10:26] #62 closed, assigned to Sapna2001

[2021-03-11 10:27] #69 closed, assigned to healer9

[2021-03-11 10:38] healer9 commented on #67
@abdus Instead of sending contact-us form data to the backend and then storing it for future use.

Can we use [Formspree](https://formspree.io/) a third-party app to handle these types of form submissions and sending the data to the email we provide (e.g email of Admin). Because storing the contact-us form data to the database is irrelevant for us.

By doing this we can use the database only for s

[2021-03-11 10:41] healer9 commented on #67
If you find this helpful and relevant then assign handling of contact-form data to me I will create all the front-end and also handle the Formspree API for this task.

[2021-03-11 10:57] riyakansal2901 commented on #42
Can I work on this ? I started learning CSS few months back and found it to be really fun . W ould love to work on this .

[2021-03-11 11:01] abdus commented on #67
@healer9 I will discuss this with the project admin and let you know. In other projects under Girl-Code-It, we use formspree. So, we will probably be using formspree for this project as well.

cc: @Manvityagi

[2021-03-11 11:33] Manvityagi commented on #67
Yes, we can go with formspree for time being, will see later if any blockers.

Cc: @abdus

[2021-03-11 13:09] saumyasrivastava08 commented on #67
@Manvityagi Rather than formspree we can use react-redux system that will not show that we have use any third part application.

[2021-03-11 13:44] Sapna2001 opened #81 "Meet the team"
I would like to work on the meet the team page. Currently, only the footer is visible on that page, please let me know the requirements for it.

![Screenshot from 2021-03-11 19-12-34](https://user-images.githubusercontent.com/56690856/110796381-e3e76080-829d-11eb-8684-28e2851e9367.png)

[2021-03-11 13:56] Fangston0 opened #82 "[GSSOC21] Adding a side scroll bar which allows scrolling to a specific section of the home page"
I plan to add a simple side scroll bar, one with clickable icons/circles that will take you to the different sections of the home page. It can be used to quickly navigate to the important information.

[2021-03-11 14:06] zaverisanya commented on #82
I am a participant at GSSoC'21 , please can you assign this issue to me?

[2021-03-11 14:18] promaroy commented on #44
Please review my PR.
https://github.com/Girl-Code-It/Opportunity-Calendar-Frontend/pull/68

[2021-03-11 14:32] janvi01 opened #84 "Design a better logo(Girl Code it) and add it in title and footer section."

[2021-03-11 14:32] janvi01 commented on #84
I would like to work.

[2021-03-11 15:21] healer9 commented on #67
# @abdus assign this issue to me and also provide me the fields you want to be in the contact form.

### ` Provide me the email of the project admin(where you want to send the contact form data) and the authentication token also i.e, generated by Fromspree.`

[2021-03-11 15:26] healer9 commented on #67
@abdus assigns this issue to me so that I can add this formspree feature to the app.
Do I have to create a new issue for this feature?

And provide me the email address where you want to send the contact-us form data after submission, with the auth token provided by the Formspree.

[2021-03-11 16:12] saumyasrivastava08 opened #85 "To style The cards"
As @vaishali614 said me to change the styles of cards like this . Can I start ?
![sssss](https://user-images.githubusercontent.com/57553757/110817735-95908c80-82b2-11eb-9fbd-a6c26d7f8715.png)

[2021-03-11 17:03] abdus commented on #84
cc: @Manvityagi

[2021-03-11 17:05] abdus commented on #78
BackEnd APIs are not ready yet. I will close this for now. Feel free to reopen it once we have endpoints up and running.

[2021-03-11 17:05] #78 closed, assigned to nobody

[2021-03-11 17:07] abdus commented on #81
We already have a [`Meet the Team`](https://girlcodeit.com/meettheteam) on the main website. @Manvityagi do we need a separate `Meet the Team` page for the Opp. Calendar website?

[2021-03-11 17:10] abdus commented on #82
@Fangston0 we have a navbar for that.

[2021-03-11 17:13] #32 closed, assigned to saumyasrivastava08

[2021-03-11 17:17] abdus commented on #67
@healer9 sure, go ahead and get this task done.

@saumyasrivastava08 `react-redux` and Fromspree, both are different. I don't think we would require redux for this project.
... assigned you a different issue.

[2021-03-11 17:25] #34 closed, assigned to khushboog12

[2021-03-11 17:27] #42 closed, assigned to kanak22

[2021-03-12 02:18] bhubesh757 opened #87 "Add Filter ,Recent Search !🚀"
@abdus By Adding Filter in the explore page so they find their particular content Easily . and Also the Recent Search  under the search button so ,it might look page good , i will add the ui

[2021-03-12 04:01] zaverisanya opened #88 "[GSSoC'21] To make the 'install' section of README file comprehensible."
I am a newbie to Open Source Community. After forking and cloning the project locally I personally faced issues in running the project locally. I believe many others might also face the same issue. Therefore I want to make changes to the existing 'install' section of README file `Opportunity-Calendar-Frontend/README.md`  to make it detailed and unambiguous.

@abdus @Manvityagi Kindly let me know w

[2021-03-12 05:42] 0Faiz0 commented on #38
I would like to work on this issue as a Gssoc'21 participant

[2021-03-12 07:55] abdus commented on #88
Sure. Go ahead.

[2021-03-12 08:45] Hritikkumar commented on #85
Hi @abdus, I want to contribute to this issue. Please assign this issue to me.

[2021-03-12 09:35] abdus commented on #85
@Hritikkumar It's already assigned to @saumyasrivastava08.

[2021-03-12 09:46] saumyasrivastava08 commented on #85
Yes, i am working on it

[2021-03-12 11:47] saumyasrivastava08 commented on #85
![Screenshot (57)](https://user-images.githubusercontent.com/57553757/110936358-c88c5c00-8356-11eb-8596-c0a23ab3e9ad.png)
![Screenshot (58)](https://user-images.githubusercontent.com/57553757/110936367-c9bd8900-8356-11eb-80f2-00676ab04d07.png)

@abdus @vaishali614 is it okay

[2021-03-12 12:25] #63 closed, assigned to bhubesh757

[2021-03-12 12:27] bhubesh757 commented on #87
@abdus  look into this i will send the ui design

[2021-03-12 12:39] saumyasrivastava08 commented on #85
@abdus done

[2021-03-12 12:55] vaishali614 commented on #85
@saumyasrivastava08 Looks good. Few basic changes -

1. Increase the card width.
2. Keep the image square-shaped.
3. Increase font-size of Opportunity Title.
4. Shift the "Apply" button to right (I think it'll look better).
5. In mobile view, maybe you can remove the image.

[2021-03-12 13:02] vaishali614 commented on #85
@saumyasrivastava08 There are few issues with responsiveness.

1. Mobile View
![Screenshot (228)](https://user-images.githubusercontent.com/32364768/110943032-b7e0e380-8360-11eb-8052-12288321bbc0.png)

2. Increase card width.
![Screenshot (230)](https://user-images.githubusercontent.com/32364768/110943084-c9c28680-8360-11eb-937a-27087751bbdc.png)

3. Cards should be in middle.
![Screenshot (231)](

[2021-03-12 13:27] rohan-kulkarni-25 opened #90 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 13:27] rohan-kulkarni-25 opened #91 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 13:29] saumyasrivastava08 commented on #85
![Screenshot (58)](https://user-images.githubusercontent.com/57553757/110946505-f24c7f80-8364-11eb-853a-0ffa98d2bbc8.png)
![Screenshot (59)](https://user-images.githubusercontent.com/57553757/110946510-f4164300-8364-11eb-9356-799c649deef7.png)
![Screenshot (60)](https://user-images.githubusercontent.com/57553757/110946515-f5477000-8364-11eb-997d-4d8410b3b836.png)
![Screenshot (61)](https://user-im

[2021-03-12 13:36] saumyasrivastava08 commented on #85
Done these also just check and tell if some changes needed

[2021-03-12 13:51] saumyasrivastava08 opened #92 "Modify Page of Post Job Opportunity"
![Screenshot (63)](https://user-images.githubusercontent.com/57553757/110948935-fcbc4880-8367-11eb-9a6f-6ffa13049d4b.png)

###Following changes to be made
1.) Box around the form that will look attractive
2.) Shift search bar corner / add login option

[2021-03-12 13:51] saumyasrivastava08 commented on #92
@abdus can i work on this?

[2021-03-12 13:56] rutuja2229 commented on #92
@saumyasrivastava08 @abdus  Can I work on this issue please, I am GSSoC2021 participant.

[2021-03-12 14:35] #85 closed, assigned to saumyasrivastava08

[2021-03-12 14:44] #44 closed, assigned to promaroy

[2021-03-12 14:49] abdus commented on #87
what kind of filters are you talking about? can you explain it a bit?

[2021-03-12 14:51] nandita658 commented on #92
Can i work on this issue?

[2021-03-12 15:03] abdus commented on #92
cc: @vaishali614

[2021-03-12 15:58] DeepanshiD commented on #92
@saumyasrivastava08 @rutuja2229 We appreciate your interest, but we assign tasks on First come first serve bases. So @saumyasrivastava08 you can take up the task. And @rutuja2229 how about, going through some other task?

[2021-03-12 16:00] DeepanshiD commented on #92
@saumyasrivastava08 There's a small addition on top right there will be a search bar and a login/sign up button beside it.  In case you can't figure it out, ping me I will share pen paper design

[2021-03-12 16:07] saumyasrivastava08 commented on #92
yeah sure make it attach it here and i will start working on this and label this as gssoc.

Thanks

[2021-03-12 16:22] DeepanshiD commented on #92
@saumyasrivastava08
![WhatsApp Image 2021-03-12 at 21 51 21](https://user-images.githubusercontent.com/41962533/110968166-36e41500-837d-11eb-9761-64956c110471.jpeg)

[2021-03-12 16:59] saumyasrivastava08 commented on #92
okay done
add gssoc label

[2021-03-12 16:59] saumyasrivastava08 commented on #92
and where is our channel on discord there are channels for every community but where is ours @Manvityagi

[2021-03-12 17:59] abdus commented on #90
Please add it in README.

[2021-03-12 18:01] abdus commented on #31
@AishwaryaKaranth Please respond if you are still working on this issue.

[2021-03-12 21:50] AishwaryaKaranth commented on #31
Yes, I am. Will submit a PR shortly.

[2021-03-12 22:00] AishwaryaKaranth commented on #31
Is there a deadline for solving this issue?

[2021-03-13 04:07] #67 closed, assigned to healer9

[2021-03-13 04:23] Surajbokde commented on #31
@AishwaryaKaranth make pr today itself

[2021-03-13 04:24] #28 closed, assigned to nobody

[2021-03-13 04:25] #27 closed, assigned to nobody

[2021-03-13 05:41] saumyasrivastava08 commented on #92
please assign me

[2021-03-13 06:19] Manvityagi commented on #92
#opportunity-calendar-frontend
#opportunity-calendar-backend

[2021-03-13 07:14] girkarkshitij opened #95 "Change stateless class components to functional components"
There are some class components in the project which do not have any state, we should change them into functional components.

![Screenshot (181)](https://user-images.githubusercontent.com/43858028/111022527-32f5d880-83f9-11eb-97da-4711e818330d.png)

[2021-03-13 07:26] prachibansal2000 opened #96 "Add Icons in the Contact Us Section"
![image](https://user-images.githubusercontent.com/56162563/111022831-54f05a80-83fb-11eb-9cbb-9fb5db8d6573.png)

I would like to work on this issue as a part of GSSOC'21

[2021-03-13 07:42] girkarkshitij opened #97 "Add animation in FAQ section"
When we click a question in FAQ, the answer opens up quickly. Instead of this, we can add animation to it so that it will open smoothly.

[2021-03-13 07:46] girkarkshitij commented on #95
Please assign this issue to me.

[2021-03-13 08:00] #97 closed, assigned to nobody

[2021-03-13 09:47] AishwaryaKaranth commented on #31
submitted PR #99

[2021-03-13 11:12] Sakshi0401 opened #100 "Revamping the footer section"
**Footer section** is vague as compare to other part of website. As a **GSSOC'21** participant I would like to work on this section.

![image](https://user-images.githubusercontent.com/64726139/111028175-0652b880-841b-11eb-844c-05315b807f8f.png)

[2021-03-13 16:06] #88 closed, assigned to zaverisanya

[2021-03-13 16:08] #82 closed, assigned to nobody

[2021-03-13 16:09] abdus commented on #81
Closing. Reopen if you feel like this issue should be addressed.

[2021-03-13 16:09] #81 closed, assigned to nobody

[2021-03-13 16:16] abdus commented on #91
Can you explain how are you planning to implement the contributors' list automatically?

[2021-03-13 17:24] #30 closed, assigned to Sushi22

[2021-03-13 17:25] abdus commented on #95
Can you please explain why we should change them to functional components?

[2021-03-13 17:26] abdus commented on #96
What kind of icons are you talking about? A little information would help...

[2021-03-13 17:27] abdus commented on #100
Please explain the changes you are going to make in details.

cc @vaishali614 @Surajbokde

[2021-03-13 17:31] prachibansal2000 commented on #96
![image](https://user-images.githubusercontent.com/56162563/111038588-d671d800-844f-11eb-8785-951b7881c7b3.png)
 As shown in the image

[2021-03-13 17:38] aj3011 commented on #91
I am a GSSoC's 21 participant and I would like to work on this issue. I would like to use the link of the page that shows the history of contributors to automatically update the list of contributors in the readme file

[2021-03-13 19:04] Manvityagi commented on #81
Yeah, it's not needed here @abdus @Sapna2001

[2021-03-13 19:08] vismitap commented on #45
Hey! I did a git pull and got the latest code and the on `npm start` I got this error.
![image](https://user-images.githubusercontent.com/47056243/111041172-0a072f00-845d-11eb-83e3-c4a6b48bfcee.png)
I inspected the folder directory and noticed that there are 2 signUpLogin folders having same code.
![image](https://user-images.githubusercontent.com/47056243/111041247-5a7e8c80-845d-11eb-8a0c-5b5bd77

[2021-03-13 21:07] abdus commented on #96
@Surajbokde @vaishali614

[2021-03-13 21:37] abdus commented on #45
Hey, can you pull the latest code once again .. please?

[2021-03-14 02:06] bhubesh757 commented on #87
For example if the user wants to search the job , for their qualification so they can add their qualification to the filter so  it will show only the jobs which is suits for his/her qual , this also suits to all the options

[2021-03-14 04:00] Surajbokde commented on #96
@prachibansal2000  adding icons will looks good but we want blue icons

https://surajbokde.github.io/Nature_Beauty/contact.html
Just have a look on get in touch

[2021-03-14 04:12] girkarkshitij commented on #95
I know that there is no significant performance differences between them but :

1. Functional component are much easier to read and test because they are plain JavaScript functions without state or lifecycle hooks
2. We will end up with less code

[2021-03-14 05:27] DeepanshiD commented on #100
@Sakshi0401
You have to make something like this, in case of any queries feel free to ping
![WhatsApp Image 2021-03-14 at 10 56 56](https://user-images.githubusercontent.com/41962533/111058352-14084c80-84b4-11eb-9009-7c2eecf1b714.jpeg)

[2021-03-14 07:14] rohan-kulkarni-25 commented on #91
I will add a img tag which will keep this section updating

[2021-03-14 08:08] abdus commented on #95
Okay. Sure, go ahead.

[2021-03-14 08:15] abdus commented on #87
@Surajbokde @vaishali614

[2021-03-14 08:26] saumyasrivastava08 opened #103 "On clicking Post opportunity form not comes"
![Screenshot (64)](https://user-images.githubusercontent.com/57553757/111062122-07442280-84cd-11eb-8615-fe04f0983798.png)

On clicking Hackathons and schlorships post opportunity form not comes .

Can I take this issue

[2021-03-14 08:59] #92 closed, assigned to saumyasrivastava08

[2021-03-14 10:17] EkjotKaur opened #104 "Meet The Team Page"
There no meet the team page I would like to add this page to the project.
Please assign me this issue
[GSSOC'21] @Surajbokde @vaishali614 @Manvityagi

[2021-03-14 11:43] abdus commented on #104
We don't need it for the Opportunity Calendar website.

[2021-03-14 11:43] #104 closed, assigned to nobody

[2021-03-14 12:44] AishwaryaKaranth commented on #31
submitted a new PR #105
Resolved all conflicts.

[2021-03-14 12:49] drishtipeshwani opened #106 "Adding a background carousel"
Hello ! I am a GSSOC Participant
Here rather than having a purple background can we have a background carousel with images and post opportunity button over it, I think it will look nice. Do assign me this issue Thank you
<img width="941" alt="2021-03-14" src="https://user-images.githubusercontent.com/65016769/111069106-8cd9c980-84f1-11eb-84a4-75f5c8e27c37.png">

[2021-03-14 13:13] prachibansal2000 commented on #96
Sure i will add blue icons

[2021-03-14 13:18] Cgoyal48 commented on #96
Sir, I would like to work on this issue. Can you please assign this to me?
I am a GSSOC'21 participant.

[2021-03-14 13:56] hsnice16 opened #108 "View as github page"
I want to upload it as github page, so that everyone can see it. Instead of going on localhost.

Can I work on it ?

[2021-03-14 14:46] rajesh6161 commented on #100
I have a more intuitive idea about the footer section
![GSOC](https://user-images.githubusercontent.com/40054161/111072802-35902500-8502-11eb-962e-a37de7581a8c.jpg)

[2021-03-14 14:55] Sakshi0401 commented on #100
@DeepanshiD So shall I start working on this? Please assign the issue

[2021-03-14 14:55] DeepanshiD commented on #100
@Sakshi0401 , @rajesh6161 the above design is fair. You can keep Products and Links above line and in blue color.And Contact us also in blue
Besides, we assign tasks on First Come First Serve bases, so @Sakshi0401 has to start with it

[2021-03-14 14:56] Sakshi0401 commented on #100
@DeepanshiD which design should I refer?

[2021-03-14 14:57] DeepanshiD commented on #100
@Sakshi0401 Go with second one with mentioned changes

[2021-03-14 14:57] Sakshi0401 commented on #100
@DeepanshiD Okay Thanks

[2021-03-14 15:21] rajesh6161 commented on #100
Okay @DeepanshiD I will look into it. Best of luck @Sakshi0401

[2021-03-14 15:36] saumyasrivastava08 commented on #103
@abdus @Surajbokde can i work on this?

[2021-03-14 15:59] abdus commented on #108
We use Netlify for deployment. I will add the public URL soon.

[2021-03-14 15:59] #108 closed, assigned to nobody

[2021-03-14 16:06] #95 closed, assigned to girkarkshitij

[2021-03-14 16:10] abdus commented on #103
https://user-images.githubusercontent.com/32123917/111075383-d1735e00-850d-11eb-9cff-bd7afff364cc.mp4

it works.

[2021-03-14 17:02] Jassi10000-zz commented on #38
@Manvityagi  Mam , being a GSSOC'21 participant  I want to try my hands on this issue , please assign it to me , I will do my best to complete the task in required number of days

[2021-03-14 17:18] hsnice16 commented on #108
okay

[2021-03-14 17:22] Jassi10000-zz opened #109 "Error while starting the application"
Am facing an issue while starting the application
When I did " npm start "   to start the application , it returned this error

![issue1](https://user-images.githubusercontent.com/64856348/111077648-c32a3f80-8517-11eb-9280-b601556160ff.PNG)

[2021-03-14 18:23] abdus commented on #109
@Jassi10000 can you tell me how to reproduce it? I freshly cloned the latest code and tried to reproduce it, but no success.

[2021-03-14 18:37] Jassi10000-zz commented on #109
@abdus Brother  you mean , you are also facing the same issues ?

[2021-03-14 18:45] lavanya243 opened #111 "Change Favicon"
Hey @Manvityagi , @abdus , @vaishali614   , I am Lavanya Narayanan, a GSSOC, 2021 participant. I want to make changes in favicon in the website. Can I work on this issue?

[2021-03-14 19:11] Manvityagi commented on #38
@Karthik-Nayak98 The deadline for the issue has passed.

I am assigning this issue to @0Faiz0.
If he doesn't make a PR within 3 days, it will be assigned to @Jassi10000.

You can start working on it @0Faiz0.

[2021-03-14 19:20] Jassi10000-zz commented on #109
@Manvityagi  Mam can you please have a look on this issue ,  if  this doesnt get solved it will become very difficult for me to work on other issues

[2021-03-14 19:40] abdus commented on #109
@Jassi10000 nope. I am not facing this issue. everything works fine in my end.

[2021-03-14 20:28] Jassi10000-zz commented on #109
@abdus  Actually you mentioned here  that you got no success , that's why I asked

Anyways , if it's working fine for you , please help me to resolve this , would be grateful to you

[2021-03-15 03:37] Karthik-Nayak98 commented on #38
Sure. @Manvityagi.

[2021-03-15 03:38] abdus commented on #109
The latest codebase is running without errors ...

[2021-03-15 05:24] Jassi10000-zz commented on #109
@abdus Kindly help me with problem so that I can move forward to work on other issues as well

[2021-03-15 10:24] #90 closed, assigned to rohan-kulkarni-25

[2021-03-15 14:45] #96 closed, assigned to prachibansal2000

[2021-03-15 18:16] Sakshi0401 commented on #100
Hey @DeepanshiD I have made all necessary changes. Please consider reviewing. Also could you please label this issue as GSSoC'21. Thank you!

![image](https://user-images.githubusercontent.com/64726139/111201186-88440c80-85e8-11eb-9a1d-72fcc462a23e.png)

[2021-03-15 18:33] DeepanshiD commented on #100
Hey @Sakshi0401 Great work! @abdus you can mark it as GSSOC'21 and close it ig, its great to go

[2021-03-15 19:28] rajesh6161 commented on #100
Awesome @Sakshi0401 🙌 Good but try putting that blue line under PRODUCTS and LINKS plus move the logos up a bit and add spacing between contact us and logo and its perfect. right @DeepanshiD

[2021-03-16 06:34] DeepanshiD commented on #100
@rajesh6161 We will come up with complete revamp for the whole product, then we will look into the intricate of design, for now this seems fine, but yes @Sakshi0401 you can increase vertical spacing between Products and Codemaps and Links and TnC. And it will be great if you keep blue line under Links and Products rather than keeping them at bottom.
Thanks @rajesh6161 for suggestions!

[2021-03-16 06:38] Sakshi0401 commented on #100
@rajesh6161 Thanks for suggestions! @DeepanshiD I'll do these changes.

[2021-03-16 08:42] Aryamanz29 opened #115 "[Need] Issue template"
Currently, there is no issue template for this repo

[2021-03-16 08:43] Aryamanz29 commented on #115
I would like to work on this issue, Kindly add labels and assign it to me

[2021-03-16 16:20] mohammedjameel24 opened #116 "DARK MODE UI"
##Dark Mode UI

[2021-03-16 17:04] abdus commented on #115
Sure.

[2021-03-16 19:53] Aryamanz29 commented on #115
Kindly review my PR @abdus

[2021-03-16 21:27] Spring-dot commented on #38
@Manvityagi Is someone working on this issue? If not, Can I? I am GSSoC'21 participant.

[2021-03-16 21:29] Spring-dot commented on #84
@Manvityagi Is someone working on this issue?

[2021-03-16 23:54] Manvityagi commented on #84
@janvi01 wanna work on this?

PS: @Spring-dot, If @janvi01 doesn't reply by tonight, I will assign it to you.

[2021-03-16 23:56] Manvityagi commented on #38
Let's wait for tonight, if @0Faiz0 or @Jassi10000 doesn't come to claim it, otherwise will assign it to you @Spring-dot

[2021-03-17 03:28] Manvityagi commented on #109
@Jassi10000 Can you elaborate more on what issue are you facing?

[2021-03-17 04:37] #115 closed, assigned to Aryamanz29

[2021-03-17 04:38] abdus commented on #111
Sure.

[2021-03-17 05:24] Jassi10000-zz commented on #109
@Manvityagi Thanks mam for the concern , am actually facing this issue regularly , I even tried to fork again and run the application again , but the issue still persists and am not able to open the application on localhost
That's why am tensed , coz if this issue will persist then I will not be able to work on other issues of this project

[2021-03-17 05:59] saumyasrivastava08 opened #118 "To Add No of issues/pullrequests/forks/watchers/stars in Readme file"
@abdus can i work on this?

[2021-03-17 08:30] shriya030 opened #119 "Enhancing FAQ Section"
### **Feature request**:
I want to add transition in FAQ section (when questions are being opened and closed) and also when one question is opened, the other one should automatically close. Also changing the cursor to pointer when the user hovers over the question.

### **Describe the solution you'd like**:
The changes will be made in CSS file i.e. transition will be applied and React Hooks will b

[2021-03-17 09:33] shriya030 commented on #119
@abdus @vaishali614 @Manvityagi Can I work on this issue?

[2021-03-17 11:18] hansika31 commented on #116
hi, I am Hansika, can I contribute to this project?

[2021-03-17 13:06] ShambhaviSharma0110 commented on #106
Hey! I would really like to work on this please allow me to work on this...
-gssoc'21 participant

[2021-03-17 13:09] ShambhaviSharma0110 commented on #119
Hey! I would really like to work on this please allow me to work on this as well...
-gssoc'21 participant

[2021-03-17 13:32] janvi01 commented on #84
Yes definately @Manvityagi

[2021-03-17 17:41] Manvityagi commented on #119
Go ahead @shriya030. Added the respective tags and assigned to you.
Good Luck and feel free to communicate any doubts or ideas.

[2021-03-17 17:41] Manvityagi commented on #119
Hi @ShambhaviSharma0110, the issues assignment is on FCFS basis, please find another issue to work on.

[2021-03-17 17:47] Manvityagi commented on #84
@janvi01 Added the respective tags and assigned to you.
Feel free to discuss any ideas/doubts while implementing the solution.
@DeepanshiD is mentoring the Design part. Feel free to contact her as well.

[2021-03-17 17:49] Manvityagi commented on #118
Go ahead @saumyasrivastava08. Assigned to you.

[2021-03-17 17:49] Manvityagi commented on #116
Duplicate issue. So closing this one.

[2021-03-17 17:49] #116 closed, assigned to nobody

[2021-03-17 17:51] Manvityagi commented on #116
Sure @hansika31, go ahead. Look out for existing issues or explore the project and open new issues, get them assigned to you and make PRs. We love to have contributions.

[2021-03-17 17:53] Manvityagi commented on #109
@Surajbokde Can you help him out? You can get in touch on Discord. Please try to solve @Jassi10000 problem asap @Surajbokde.

[2021-03-17 17:54] Manvityagi commented on #106
Sounds good @drishtipeshwani. Give it a try.
Would love to see what you come up with.

[2021-03-17 17:54] shriya030 commented on #119
Thank you mam. I want you to review one thing. From where I can communicate with you? I had already started working on this issue. Should I make a pull request and then you can review it?

[2021-03-17 17:55] Manvityagi commented on #106
@DeepanshiD is our Design Mentor.
You can get in touch with her for discussions.

CC: @DeepanshiD, @drishtipeshwani

[2021-03-17 17:56] Manvityagi commented on #103
Closing this issue as @abdus pointed out it works.

[2021-03-17 17:56] #103 closed, assigned to nobody

[2021-03-17 18:00] Manvityagi commented on #87
@bhubesh757 Please specify in a little more detail. What exactly are the filters. Implementing the same would also need a some modifications in the API.

[2021-03-17 18:01] mohammedjameel24 commented on #38
Assign me

[2021-03-17 18:02] Jassi10000-zz commented on #38
@Manvityagi mam is that issue still open and available?

[2021-03-17 18:13] Jassi10000-zz commented on #109
Thanks mam @Manvityagi  for helping me
one more thing mam , am not able to find  Girl-Code-It in the discord , can you please help with that too ?

[2021-03-17 18:30] Manvityagi commented on #109
#opportunity-calendar-frontend
#opportunity-calendar-backend

These are the channel names on Discord, you can join them.

[2021-03-17 18:31] Manvityagi commented on #38
@0Faiz0 has made a PR for it, it's under review.

[2021-03-17 18:32] Manvityagi commented on #119
You can join our discord channels on GSSOC server.
#opportunity-calendar-frontend
#opportunity-calendar-backend

[2021-03-17 18:33] Manvityagi commented on #119
Yes, @shriya030. Make a PR, We can review it then.

[2021-03-17 18:45] #91 closed, assigned to rohan-kulkarni-25

[2021-03-18 03:57] #45 closed, assigned to vismitap

[2021-03-18 04:16] janvi01 commented on #84
Thankyou

[2021-03-18 04:18] Surajbokde commented on #109
@Jassi10000 just put your problems on our discord channel. i will help u there.

[2021-03-18 04:23] Jassi10000-zz commented on #109
Thanks @Manvityagi , @Surajbokde I just msgd on Discord , can you please check that out

[2021-03-18 04:24] drishtipeshwani commented on #106
Yeah, Sure Thank you

[2021-03-18 09:49] saumyasrivastava08 opened #124 "To add girl code it logo in title section as react logo is coming"
When we run npm start at corner logo of react is visible instead of girl code it .
@Manvityagi can I work on this?

[2021-03-18 14:47] Sakshi0401 commented on #100
@DeepanshiD I am done with these changes. Now I am making footer responsive for other devices. I'll come back to you soon.

[2021-03-18 17:39] Manvityagi commented on #124
Have your previous PR merged and then you can start this.

[2021-03-18 19:30] vaishali614 opened #125 "Change styling of all buttons"
All buttons on the website should have the same styling as that of "Explore" button on homepage.

[2021-03-18 19:54] leoshrey commented on #125
I would like to work on this issue.

[2021-03-19 04:29] janvi01 commented on #84
@Manvityagi I have made a new logo, please can you review it.
Where should I post the logo, here or in discord channel?

[2021-03-19 04:53] Manvityagi commented on #84
Post it on Discord, everyone will be able to see.

[2021-03-19 05:51] vaishali614 commented on #125
@leoshrey I've assigned this issue to you. You can start working on it.

[2021-03-19 06:16] #119 closed, assigned to shriya030

[2021-03-19 06:28] vaishali614 opened #126 "Change transition of 'Know About' Cards"
- Keep color the same white
- Decrease the border radius ( in general )
- Give a size expansion and z index for shadow effect on hover

Refer this for clarity: https://www.capgridsolutions.com/enterprise-solution.html

[2021-03-19 06:43] shriya030 opened #127 "Enhancing Navbar buttons"
### **Feature request**:
Changing the color of navbar buttons and giving them a background upon hovering.

### **Describe the solution you'd like**:
Will make changes in the CSS file so that navbar buttons change their color upon hovering.

### **Describe how this feature will be useful to our readers**:
It will make the website look more appealing.

<hr/>

**Note:**
* If you want to work on an is

[2021-03-19 06:55] leoshrey commented on #125
Sure, working on it

[2021-03-19 07:01] shriya030 commented on #126
Can I work on this issue?

[2021-03-19 07:07] aj3011 commented on #127
Can I work on this issue?

[2021-03-19 07:13] vaishali614 commented on #126
@shriya030 Sure. Go ahead.

[2021-03-19 07:17] vaishali614 commented on #127
@aj3011 Sure. Go ahead.

[2021-03-19 07:23] #31 closed, assigned to AishwaryaKaranth

[2021-03-19 07:51] DeepanshiD commented on #100
@Sakshi0401 Great!

[2021-03-19 09:23] shriya030 commented on #126
@vaishali614 you want sharp edges or a little bit curved edges for border-radius?

[2021-03-19 09:26] saumyasrivastava08 commented on #124
please assign to me

[2021-03-19 09:31] shriya030 commented on #126
![image](https://user-images.githubusercontent.com/56861600/111759665-d9dbe800-88c3-11eb-890f-a448fa6a54b6.png)
This much border-radius is okay? @vaishali614

[2021-03-19 09:32] vaishali614 commented on #126
Yeah looks good.

[2021-03-19 10:40] #118 closed, assigned to saumyasrivastava08

[2021-03-19 21:22] shivansh-soni07 commented on #111
, I am Shivansh Soni , a GSSOC, 2021 participant. I want to make changes in favicon in the website. Can I work on this issue?

[2021-03-20 05:59] Manvityagi commented on #111
@shivansh-soni07

Waiting for @lavanya243 to make a PR on this. If she doesn't make a PR by tomorrow night, I will assign it to you.

[2021-03-20 06:09] aj3011 commented on #127
@vaishali614 There was a border-bottom effect applied on the navbar buttons but it wasn't working. So do you want me to fix that bug or to apply background color upon hovering?
![image](https://user-images.githubusercontent.com/71029690/111860943-ae630700-8970-11eb-8970-cd2e23561722.png)
or
![image](https://user-images.githubusercontent.com/71029690/111860993-eb2efe00-8970-11eb-88d8-13e2c8d45123.p

[2021-03-20 07:19] shriya030 commented on #126
@vaishali614 Please review my PR

[2021-03-20 07:25] #125 closed, assigned to leoshrey

[2021-03-20 07:53] vaishali614 commented on #126
Please pull the latest changes and update your PR so that all checks pass.

[2021-03-20 07:54] shriya030 commented on #126
I am facing some problem, where can I contact you?

[2021-03-20 07:58] vaishali614 commented on #126
Connect with me on Discord.

[2021-03-20 08:05] vaishali614 opened #131 "Add a 404 Page"
Refer this design: https://girlcodeit.com/codemap

Note: Keep the button styling same as the whole website.

[2021-03-20 08:25] vaishali614 opened #132 "Redirect to main website"
1. Change the button text in About Us section: "Meet our Team" --> "Know More"
2. Redirect this button to https://girlcodeit.com/

[2021-03-20 08:33] leoshrey commented on #131
I would like to work on this

[2021-03-20 08:37] vaishali614 commented on #131
@leoshrey Assigned to you. Go ahead.

[2021-03-20 08:37] leoshrey commented on #132
I can work on this also, if no one proceeding

[2021-03-20 08:39] vaishali614 commented on #132
You've already been assigned an issue. Please finish that first.

[2021-03-20 08:53] aj3011 commented on #127
@vaishali614

[2021-03-20 08:58] vaishali614 commented on #127
border-bottom looks better than adding a background. Fix that bug for border-bottom effect.

[2021-03-20 09:20] aj3011 commented on #127
@vaishali614 Please review my PR.

[2021-03-20 09:28] raks924 commented on #132
Hey @vaishali614 i would really like to work on this as a first project. kindly assign it to me .
Under the team of GSSOC'21

[2021-03-20 09:32] malavikarajeshvikraman commented on #132
Hey @vaishali614 could I work on this issue?

[2021-03-20 09:45] vaishali614 commented on #132
@raks924 @malavikarajeshvikraman Issues are assigned on FCFS basis.
Assigning this issue to @raks924
@malavikarajeshvikraman please find some other issue to work on.

[2021-03-20 13:28] #127 closed, assigned to aj3011

[2021-03-20 13:43] abdus commented on #109
@Jassi10000 let me know if the issue is resolved.

[2021-03-20 14:44] Manvityagi commented on #124
Assigned, waiting for your PR @saumyasrivastava08

[2021-03-20 14:54] saumyasrivastava08 commented on #124
Pr is already there

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Manvi Tyagi ***@***.***>
Sent: Saturday, March 20, 2021 8:14:21 PM
To: Girl-Code-It/Opportunity-Calendar-Frontend ***@***.***>
Cc: Saumya Srivastava ***@***.***>; Mention ***@***.***>
Subject: Re: [Girl-Code-It/Opportunity-Calendar-Frontend] To add girl code it logo in title section as react

[2021-03-20 15:44] #126 closed, assigned to shriya030

[2021-03-20 15:48] #124 closed, assigned to saumyasrivastava08

[2021-03-20 15:54] Manvityagi commented on #38
@Karthik-Nayak98 @Jassi10000 @Spring-dot @mohammedjameel24
This issue is Up-for-grabs, if anyone of you wants to work on it, comment here, will assign it to you.

PS: Make sure you add a toggle button in the website which toggles dark and light modes.

[2021-03-20 16:10] Spring-dot commented on #38
I want  to take this @Manvityagi

[2021-03-20 16:21] mohammedjameel24 commented on #38
Assign me

[2021-03-20 16:21] mohammedjameel24 commented on #38
Please assign me

[2021-03-20 16:33] Manvityagi commented on #38
As per the FCFS rule, assigning to @Spring-dot

[2021-03-20 16:53] Karthik-Nayak98 commented on #38
I will open some other issue.

[2021-03-20 17:14] Jassi10000-zz commented on #109
@abdus , @Manvityagi   The issue is not solved yet ,  even  @Surajbokde  also tried , he's facing the same issue , even a frnd of his, is facing the same issue

[2021-03-20 19:04] Sakshi0401 commented on #100
@DeepanshiD Made all the necessary changes #114 Please consider. Thank you !!

[2021-03-20 19:42] mohammedjameel24 commented on #38
Assign me

[2021-03-21 00:16] #111 closed, assigned to lavanya243

[2021-03-21 04:17] Karthik-Nayak98 opened #137 "Add a Github action which automatically labels 'GSSOC21' to the newly created issue."
### **Feature request**:
Add a Github action which automatically labels 'GSSOC21'  for newly created issue.

### **Is your feature request related to a problem? Please describe. (optional)**:
Adding labels is an extra work for the maintainers, which can be avoided by GitHub action.

### **Describe the solution you'd like**:
A clear and concise description of what you want to happen.

### **Describ

[2021-03-21 06:15] raks924 commented on #132
thanks i'll solve it by today.

[2021-03-21 16:09] Karthik-Nayak98 commented on #137
If anyone wants to take this issue they can take it.

[2021-03-21 16:53] abdus commented on #109
Okay. Maybe tomorrow we can get on a call on Discord to resolve this. Let me know your availability.

[2021-03-21 18:34] drishtipeshwani commented on #106
@DeepanshiD  Hey!! Like I have added a three image carousel I just wanted to get it verified before making a pull request. Like should I even style the button any suggestions from your side any changes you would suggest?

https://user-images.githubusercontent.com/65016769/111916666-0188a700-8aa2-11eb-92c2-d84718e1078c.mp4

[2021-03-22 06:48] Jassi10000-zz commented on #109
@abdus  am available today between 4 -5

[2021-03-22 09:23] saumyasrivastava08 opened #139 "To add marks according to level of issue row beside day in readme file"

[2021-03-22 14:29] vaishali614 commented on #132
Deadline to finish a Level 1 issue is 2 days. If you're unable to make a PR by tonight, this issue will be assigned to someone else.
Please let us know if you're active on this issue.

[2021-03-22 15:20] vaishali614 commented on #106
Looks good. Please change first image to the following:

![GCI](https://user-images.githubusercontent.com/32364768/112013559-20457700-8b50-11eb-8bba-38d89b0cf7bd.PNG)

[2021-03-22 16:38] #131 closed, assigned to leoshrey

[2021-03-22 18:45] leoshrey commented on #132
I would like to work on this issue, if no one proceeding.

[2021-03-22 19:01] vaishali614 commented on #132
@raks924 has made a PR which is under review. If she fails to fix this issue, it'll be assigned to you.

[2021-03-23 05:58] drishtipeshwani commented on #106
Will do that

[2021-03-23 15:20] vaishali614 opened #141 "Change `About Us` content"
Replace the previous content with:

`If you feel like you keep missing on good opportunities that others grab easily only because you never find out about them in time, we got you covered!!

Opportunity Calendar provides instant information on newly posted opportunities for techies. Now you won't miss another deadline for applying to your dream companies. The calendar is your one-stop solution to

[2021-03-23 18:51] leoshrey commented on #141
I will do the changes.

[2021-03-23 18:58] vaishali614 commented on #141
Sure. Go ahead. Assigned to you.

[2021-03-24 12:05] #141 closed, assigned to leoshrey

[2021-03-24 13:45] Spring-dot commented on #38
@Manvityagi Ma'am I am getting errors while running localhost, I have arose this issue on discord also, but no answer yet. Please help.

[2021-03-24 13:55] Jassi10000-zz commented on #38
@Manvityagi Mam please assign me the issue next , if its not been solved

[2021-03-24 16:08] Manvityagi commented on #38
Our mentor asked you to share the ss of the problem which you haven't sent yet afaik.
Well, share the screenshot of your problem on the Discord channel.
@vaishali614 will get in touch with you.

[2021-03-24 16:58] Spring-dot commented on #38
okay, well I already send him ss in the direct message but I will share it again. Thanks for looking in my problem.

[2021-03-24 20:07] vaishali614 commented on #106
Are you done with the change?

[2021-03-25 04:49] drishtipeshwani commented on #106
Yes I have made a pull request

[2021-03-25 07:05] Jassi10000-zz commented on #109
@abdus Sir am not able to catch anyone , who can help me , can you tell me the time when you are free today
Am available between 8 -9 , can you schedule a meet to resolve my issue
@Manvityagi  mam can you plss help me regarding this issue ,  if @abdus  is not able to show up , can you assign a mentor to me who can have to meet to solve this , I will be vey grateful

[2021-03-25 09:32] leoshrey opened #144 "Current search bar is clunky"
### **Feature request**:
A new Searching experience to the user by creating a more user-friendly and modern Search bar.

### **Is your feature request related to a problem? Please describe**:
Currently the Search Box we're using looks a bit broad, clunky and unsightly.
Whenever a user start typing in the field it adapts its shape according to the input which doesn't look good and provides bad expe

[2021-03-25 10:57] vaishali614 commented on #144
@leoshrey The new search bar looks great, but I feel the whole navbar needs to be revamped.
Let me know if you can work on the whole navbar.

[2021-03-25 11:18] leoshrey commented on #144
Ya, that's what I also thought, we should revamp the whole Navbar.

Sure, I'll work on that too.

I think I should create a specific issue for that, so that it can be simple.
Firstly, I should revamp the search bar (solve this issue) and then the whole Navbar.

What are your thoughts ?

[2021-03-25 11:28] vaishali614 commented on #144
Okay, sounds good. Go ahead.

[2021-03-25 11:30] leoshrey commented on #144
Sure

[2021-03-25 11:32] vaishali614 commented on #139
@saumyasrivastava08 Do you want to take up this issue?

[2021-03-25 11:33] vaishali614 commented on #84
Have you shared the logo yet?

[2021-03-25 11:38] vaishali614 commented on #87
@bhubesh757 Please elaborate your idea so that we can plan things better or else, I'll close this issue.

[2021-03-25 12:07] abdus commented on #109
hey, drop me a message on discord by 8pm.

[2021-03-25 13:41] bhubesh757 commented on #87
Close the issue

[2021-03-25 14:55] #87 closed, assigned to nobody

[2021-03-25 16:47] tanvi355 commented on #139
I would to take up this under gssoc'21

[2021-03-25 16:48] janvi01 commented on #84
Yes I have shared with Deepanshi mam.

[2021-03-25 17:16] vaishali614 commented on #139
Go ahead

[2021-03-25 19:35] #139 closed, assigned to tanvi355

[2021-03-26 05:08] saumyasrivastava08 commented on #139
@vaishali614 I opened that issue to take up and you haven't assigned me and even don't give me time to do?

[2021-03-26 05:54] vaishali614 commented on #139
@saumyasrivastava08
1. You should comment to get the issue assigned to you, even if the issue is opened by you.
2. It's been 4 days since you opened the issue, but no comments. So I asked you if you wanna take this up.
3. @tanvi355 commented before you, so I assigned it to her on FCFS basis.

I apologise as I should have waited for some more time. Anyways, the issue is closed now, so you can open

[2021-03-26 06:38] #100 closed, assigned to Sakshi0401

[2021-03-26 06:46] Manvityagi opened #148 "Update Readme.md Rules Section"
In this [section](https://github.com/Girl-Code-It/Opportunity-Calendar-Frontend/blob/develop/README.md#rules), add one more rule at the end this way -
- If you are creating a new issue, then please also comment on it mentioning that You want to work on it.

[2021-03-26 06:50] Manvityagi commented on #148
@saumyasrivastava08 This is to be assigned to you as compensation for the last issue, Shall I assign it to you?

[2021-03-26 06:53] saumyasrivastava08 commented on #148
No it's okay let it be i solved lots of issue

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Manvi Tyagi ***@***.***>
Sent: Friday, March 26, 2021 12:21:04 PM
To: Girl-Code-It/Opportunity-Calendar-Frontend ***@***.***>
Cc: Saumya Srivastava ***@***.***>; Mention ***@***.***>
Subject: Re: [Girl-Code-It/Opportunity-Calendar-Frontend] Update Readme.md Rules Se

[2021-03-26 06:56] saumyasrivastava08 commented on #148
I am working on this

[2021-03-26 07:02] vaishali614 opened #149 "Edit Checklist in PULL_REQUEST_TEMPLATE.md"
Add first checklist as:
- I have pulled the latest changes in the repository

[2021-03-26 07:14] Manvityagi opened #150 "Update title `Girl Code It` to `Opportunity Calendar`"
![image](https://user-images.githubusercontent.com/32908093/112595767-df3fb200-8e30-11eb-9ca3-1d6b2834bb6e.png)

[2021-03-26 07:15] Manvityagi opened #151 "Update What we Do? field in NavBar"
In the Navbar Replace `What we do?` with `Opportunities` and link it to `Know About Section`.

Refer the image for more clarity:
![image](https://user-images.githubusercontent.com/32908093/112595351-5163c700-8e30-11eb-9007-d7ffd84dff71.png)

[2021-03-26 07:18] saumyasrivastava08 commented on #150
Can I work?

[2021-03-26 07:26] Manvityagi commented on #150
Assigned

[2021-03-26 07:42] akshitakanojia commented on #151
Hi @Manvityagi , can I work on this issue?

[2021-03-26 08:05] Spring-dot commented on #38
@Manvityagi I have solved my error, I will be working on the issue, sorry for the delay, will update soon.

[2021-03-26 08:12] shriya030 commented on #151
Can I work on this issue?

[2021-03-26 08:13] shriya030 commented on #149
Can I work on this issue?

[2021-03-26 08:26] Manvityagi commented on #149
Go ahead @shriya030 :)

[2021-03-26 08:27] Manvityagi commented on #151
Go ahead @akshitakanojia :)

[2021-03-26 08:31] #148 closed, assigned to saumyasrivastava08

[2021-03-26 09:29] shriya030 commented on #132
Can I work on this issue? I'll do it by today.

[2021-03-26 10:19] vaishali614 commented on #132
We've a PR linked to this issue. It's under review. If she fails to get it approved by tonight, I'll assign it to you.

[2021-03-26 10:24] #149 closed, assigned to shriya030

[2021-03-26 10:27] #144 closed, assigned to leoshrey

[2021-03-26 12:06] divyasri77 opened #155 "Logo Creation"
**ISSUE** : We can add a logo to your project to make it look more attractive</br>
**SOLUTION**: I will create a logo by using CANVA or by using ILLUSTRATOR
(GSSOC Participant)

[2021-03-26 12:07] janvi01 commented on #84
@DeepanshiD I have shared logo, Please check

[2021-03-26 15:08] #132 closed, assigned to raks924

[2021-03-27 08:46] abhay27chauhan opened #158 "want to implement google Google SignIn"
### **Feature request**:
want to implement google sign in

your code ->

![Screenshot 2021-03-27 at 2 13 10 PM](https://user-images.githubusercontent.com/42849043/112715511-91957900-8f06-11eb-8775-4cc50d6c687a.png)

### **Describe the solution you'd like**:

my solution ->

![Screenshot 2021-03-27 at 5 08 25 PM](https://user-images.githubusercontent.com/42849043/112719442-0e345180-8f1f-11eb-8fd6-5

[2021-03-27 08:46] abhay27chauhan commented on #158
you just have to style it.

[2021-03-27 08:47] abhay27chauhan commented on #158
can i do it?

[2021-03-27 09:54] Hardik-07 commented on #155
I would like to help in creating LOGO , can you plss assign me this issue

[2021-03-27 10:01] ravjotsandhu commented on #137
I wanna take it up

[2021-03-27 10:03] ravjotsandhu commented on #137
Also I updated my fork from web UI itself on github by making pr from orignal repo to my fork as it was some commits behind.Is this right way to proceed?

[2021-03-27 12:50] abhay27chauhan opened #159 "2 different pages is not required for login and signup"
### **Feature request**:
2 different page is not required for login and signup. Can be implemented using single page

### **Is your feature request related to a problem? Please describe. (optional)**:
What it is now ->

https://user-images.githubusercontent.com/42849043/112721075-f7dec380-8f27-11eb-8d8a-c7f35af671cb.mov

### **Describe the solution you'd like**:
My proposal ->

It is quick and cod

[2021-03-27 12:52] abhay27chauhan commented on #159
Pls let me know if it is a valid proposal

[2021-03-27 13:10] divyasri77 commented on #155
Can I work on it ? pls assign me

[2021-03-27 15:03] abdus commented on #109
I haven't heard back anything from @Jassi10000 after the initial conversation. So, I am going to close this issue. If you (or anyone else) is facing similar issues, please open a new issue. Please mention the steps to reproduce the error as well.

[2021-03-27 15:03] #109 closed, assigned to nobody

[2021-03-27 15:07] abdus commented on #158
Please make a PR with the proposed changes. We cannot test codes from screenshots.

P.S.: don't start working on any issue until it's assigned to you. Otherwise, there will be chances of duplicate work (which is not good). for now, I am assigning this issue to you. but please keep this in mind.

[2021-03-27 15:10] abdus commented on #155
Duplicate of #84. Closing...

[2021-03-27 15:10] #155 closed, assigned to nobody

[2021-03-27 15:15] abdus commented on #159
Dividing code into multiple files makes it easier to maintain. Plus I don't think there is any common code block that is being copied in both files. So, I am going to close this issue. Please re-open this issue if you think I am missing something.

[2021-03-27 15:18] abhay27chauhan commented on #159
both the files have same code except for firstname and last name in signup page

[2021-03-27 15:18] abhay27chauhan commented on #159
plus the complete page is not reloading and its quick

[2021-03-27 15:21] #150 closed, assigned to saumyasrivastava08

[2021-03-27 15:29] abdus commented on #137
it works .. nothing wrong.

[2021-03-27 15:32] abhay27chauhan commented on #159
yes, it is good practice when it is reducing your code. but with different pages for signup and login you have to create an extra route for login + plus complete reload of your site + same code twice in different files.

[2021-03-27 15:44] abdus commented on #159
those pages are not complete yet. there is logic to be added for sign-in and sign-up functionality. and that would probably make the file huge.

anyways, I will go ahead and reopen this issue. I can't assign it to you right away as you have another one assigned to you. However, you can claim it once the other issue assigned to you is closed (obviously if no-one else claims it...)

[2021-03-27 19:07] YasmineEl-shahat commented on #151
Hi @Manvityagi , can I work on this issue?

[2021-03-27 19:07] MennaMagdy2019 commented on #151
Hi, can I work on this issue? @Manvityagi

[2021-03-28 04:21] ravjotsandhu commented on #137
How can I check whether my gtihub action works?

[2021-03-28 04:54] Manvityagi commented on #151
@MennaMagdy2019 , @YasmineEl-shahat , Someone else is already working on this issue, Please find a issue to which nobody is assigned yet or you can report a bug/feature-request/any other changes in the current project and open a issue for the same.

[2021-03-28 12:29] akshay1027 commented on #159
can you please assign me this issue?

[2021-03-29 09:12] MennaMagdy2019 opened #161 "animation on viewOppertunity Card"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:

Can I make an animation on view opportunity Card on have

[2021-03-29 09:14] MennaMagdy2019 commented on #161
please, I want to work on this issue I am interested to work on it

[2021-03-29 10:45] MennaMagdy2019 commented on #161
I think it will look nice. Do assign me this issue Thank you

[2021-03-29 11:19] Muskan-creator opened #163 "add google authentication to react app"
# Expected Behavior:

Please describe the behavior you are expecting.
![image](https://user-images.githubusercontent.com/59757988/112829190-6188da00-90ae-11eb-85c4-a59157ae1093.png)

# Current Behavior:

What is the current behavior?
there is no google authentication added so user has to fill his all details manually

# Solution:

Please describe what will you do to solve this issue or your approa

[2021-03-29 15:59] vaishali614 opened #164 "View Opportunity Page Revamp"
Revamping of View Opportunity Page:

1. `Post Opportunity` button should redirect to `Post Opportunity` page of respective opportunity.
2. `Select Opportunity` dropdown should have:
- Fulltime Jobs
- Hackathons
- Scholarships
- Coding Competitions
- Tech Conferences
- Internships
3. The banner heading should change accordingly.
4. Must be responsive for all screen sizes.

[Follow this design](http

[2021-03-29 16:06] vaishali614 commented on #161
@MennaMagdy2019 Thanks for raising this issue. Well, we're revamping the whole page, so we've planned a different animation for cards.  I suggest you to wait until the page is revamped and post that we can work on cards animation.

I'm closing this issue for now. We'll open this issue again when needed.

[2021-03-29 16:13] vaishali614 commented on #159
I agree with what @abdus said. Also, as per your solution, both have same path i.e. '/signup'. We don't want that.

[2021-03-29 16:18] abhay27chauhan commented on #159
we can change the path to '/auth'

[2021-03-29 16:24] vaishali614 opened #165 "Post Opportunity Page Revamp"
Revamping of Post Opportunity Page:

1. `Find Opportunity` button should redirect to `View Opportunity` page of respective opportunity.
2. Dropdown should have the following values which will redirect to `Post Opportunity` page of those opportunities:
- JOB
- INTERNSHIP
- HACKATHON
- SCHOLARSHIP
- CODINGCOMPETITION
- CONFERENCE
3. `Find Opportunity` button in navbar should redirect to only that op

[2021-03-29 16:41] abdus commented on #159
hey @abhay27chauhan, we(mentors) had a discussion around this proposal, and we concluded that merging these two pages(or components) is not necessary for now. We may open this issue again in future if needed. Thank you for your contributions.

closing...

[2021-03-29 16:41] #159 closed, assigned to nobody

[2021-03-29 16:44] abdus commented on #163
I think this issue is a duplicate of #158. Please reopen if it is not.

[2021-03-29 16:44] #163 closed, assigned to nobody

[2021-03-29 17:17] #161 closed, assigned to nobody

[2021-03-29 18:23] MennaMagdy2019 commented on #164
Hi @vaishali614, Can I work on this issue?

[2021-03-29 18:38] vaishali614 commented on #164
@MennaMagdy2019 Sure. Go ahead.

[2021-03-29 18:39] MennaMagdy2019 commented on #164
sorry, Can you assign me again? @vaishali614

[2021-03-29 18:43] MennaMagdy2019 commented on #164
Thanks @vaishali614

[2021-03-29 19:00] YasmineEl-shahat commented on #165
Hi @vaishali614, Can I work on this issue?

[2021-03-29 19:27] iampranavdhar opened #166 "feat: Adding hover effect to opportunity card"
### **Feature request**:
Hey @abdus,@vaishali614,
I am Pranavdhar. While I was going through the website I found that opportunity cards are not given hover effects. Can we add a hover effect to it? as it increases the interactivity If you wanna add this you can assign it to me I am happy to work on it.

### Snapshot of What I am talking about:

![image](https://user-images.githubusercontent.com/73

[2021-03-29 19:56] AshuKV commented on #165
Can I work on this issue under GSSOC21? Kindly assign it to me.

[2021-03-30 06:04] vaishali614 commented on #165
@YasmineEl-shahat @AshuKV Issues are assigned on FCFS basis, so I'm assigning this issue to @YasmineEl-shahat

[2021-03-30 06:08] vaishali614 commented on #166
@iampranavdhar Thanks for raising this issue. Well, we're revamping the whole page, so animations will be added later. I suggest you to wait until the page is revamped. Until then, you can raise some other issue.
I'm closing this issue for now. Will open it again when needed.

[2021-03-30 06:08] #166 closed, assigned to nobody

[2021-03-30 06:22] iampranavdhar commented on #166
Okay

[2021-03-30 08:35] YasmineEl-shahat commented on #165
thank you @vaishali614

[2021-03-30 08:42] sonalisonawane commented on #38
@Manvityagi Mam ,I would Like to work on this issue :) I want to contribute to this as a part of GSSOC 21.

[2021-03-30 08:45] sonalisonawane opened #167 "Adding animated social media icons in footer and animated illustrations instead of static images"
I can add animated social media icons in footer section also animated illustrations, It really looks attractive

social icons used to promote our work on social networks and get in return potential customers. So , I thought there should be something to make it attractive
You can assign this issue under gssoc label

[2021-03-30 16:17] ay2306 commented on #158
@abdus We were working on this issue in the backend since onboarding is related to personalizing API response data as per user and authenticating various operations for the user. Please review the strategy I had in mind for Register/Login Users from the backend.

1. Redirect to `{backend-url}/auth/google-authenticate`, from the front-end, and then login/register logic is handled at the server
2. G

[2021-03-30 21:51] Naman-1234 opened #168 "Making Icons Properly aligned"
### **Feature request**:

All icons except the last one are in center, hence giving last one improper look.

### **Is your feature request related to a problem? Please describe. (optional)**:

Please refer screenhot:
![Screenshot (48)](https://user-images.githubusercontent.com/63748249/113061590-eddeee00-91cf-11eb-88a6-e6606dba6f80.png)

### **Describe the solution you'd like**:

Please refer scre

[2021-03-30 21:51] Naman-1234 commented on #168
/assign

[2021-03-30 21:52] Naman-1234 commented on #168
Can you assign me on this one.I am a gssoc participant. Thanks.

[2021-03-31 04:26] Manvityagi commented on #168
CC: @DeepanshiD What do you think?

[2021-03-31 04:41] DeepanshiD commented on #168
@Naman-1234 sure you can pick up the task, keep icons in white and center aligned. You have to pick up icons from https://remixicon.com/

[2021-03-31 08:06] vaishali614 commented on #167
@sonalisonawane can you please show what kind of animation will you be adding to make it attractive?

[2021-03-31 08:07] vaishali614 commented on #38
Any updates?

[2021-03-31 08:08] vaishali614 commented on #38
@Spring-dot is already working on this issue. If she fails to create a PR by tomorrow, I'll assign it to you.

[2021-03-31 08:31] Spring-dot commented on #38
yes, I will update you by tomorrow, got college exam so I am lagging in my work.

[2021-03-31 08:38] Naman-1234 opened #170 "Making button center Aligned in a contact us page"
### **Feature request**:

Center Alignment of button
### **Is your feature request related to a problem? Please describe. (optional)**:

Please refer to the screenshot:
![Screenshot (51)](https://user-images.githubusercontent.com/63748249/113115865-7e4a1c80-922a-11eb-8897-00c4888f4287.png)

### **Describe the solution you'd like**:

Please refer to the following screenshot:
![Screenshot (50)](http

[2021-03-31 08:39] Naman-1234 commented on #170
If this is a valid Issue. I would like to work on this one. Could you assign me Please. I am a GSSOC Participant. Thanks.

[2021-03-31 09:21] #106 closed, assigned to drishtipeshwani

[2021-03-31 09:25] #168 closed, assigned to Naman-1234

[2021-03-31 09:29] vaishali614 commented on #170
@DeepanshiD what do you think about alignment of button?

[2021-03-31 09:33] shriya030 opened #171 "Scroll Bar"
### **Feature request**:

An attractive scroll bar (Blue and White-colored). I would like to add this as a GSSOC'21 participant

### **Describe how this feature will be useful to our readers**:

It will make the webpage look more attractive.

### **Additional context:**

![image](https://user-images.githubusercontent.com/56861600/113123478-421aba00-9232-11eb-9abc-1706ba7b5ced.png)

<hr/>

**Note:*

[2021-03-31 09:36] shriya030 commented on #171
Can I work on this?

[2021-03-31 09:36] sonalisonawane commented on #167
@vaishali614  mam ,You may go through the demo video on this website about what kind of animated icons I will going to add .
and about animated illutrations:
 https://motionarray.com/motion-graphics-templates/10-animated-social-media-icons-150310

you can check my this repo it contains only the animated illustration that I am going to add,we can change color of it according to the color theme of o

[2021-03-31 11:02] vaishali614 commented on #167
@DeepanshiD Please check these. What are your opinions on this?
@sonalisonawane The deployed link for your github repo doesn't work.
CC: @Manvityagi

[2021-03-31 12:44] sonalisonawane commented on #167
@vaishali614 mam ,
https://storyset.com/search?q=developer
or
https://design4users.com/motion-design-20-inspiring-animated-illustrations/
I am  sorry for that repo link . can you go please go through this links, this kind of animation illustrations we can use add instead of static image :)

[2021-03-31 13:54] vaishali614 commented on #171
@DeepanshiD What do you think about this?
CC: @Manvityagi @abdus

[2021-03-31 13:58] vaishali614 commented on #167
@sonalisonawane Okay.. Go ahead. I'm not sure if it would look good, but let's see what do you come up with.

[2021-03-31 15:03] shriya030 commented on #171
I can customize it in whichever way you like, less width or any other colour.

[2021-03-31 16:55] DeepanshiD commented on #171
@shriya030 Scroll bar looks great when minimal, an ideal scroll bar has a shade of grey (without gradient), width 6px, border radius 2px. You can choose this as it is or try to play around with width and radius.

[2021-03-31 16:57] DeepanshiD commented on #167
@sonalisonawane This seems nice, you can go with this, but keep the border radius and color scheme consistent to the whole website.

[2021-03-31 17:02] DeepanshiD commented on #170
@Naman-1234 the edit one should also start from the beginning. For example the padding of mail icon is 4px from top in box, so it should be same for edit/pencil icon
CC: @vaishali614

[2021-03-31 17:14] shriya030 commented on #171
Please assign me this issue.

Can I work on this issue?

[2021-03-31 17:20] vaishali614 commented on #171
Go ahead

[2021-03-31 17:34] DeepanshiD commented on #170
@Naman-1234 Alignment of button on the left is fine, so I'm closing this issue.
CC @vaishali614

[2021-03-31 17:36] #170 closed, assigned to nobody

[2021-03-31 17:40] #158 closed, assigned to abhay27chauhan

[2021-03-31 18:26] shriya030 commented on #171
@DeepanshiD @vaishali614 have a look.

[2021-03-31 19:13] aj3011 opened #173 "Adding more FAQs"
# Expected Behavior:

Adding more FAQs as per https://girlcodeit.com/#faqs

# Current Behavior:

What is the current behavior?
Fewer FAQs present in the section currently

# Solution:
I will make the required changes in the FAQ data file

[2021-03-31 19:14] aj3011 commented on #173
Please assign me this issue as a part of GSSOC' 21

[2021-03-31 19:38] #84 closed, assigned to janvi01

[2021-04-01 05:03] sonalisonawane commented on #167
thanks mam:)

[2021-04-01 05:03] sonalisonawane commented on #167
yes I will, thanks mam:)

[2021-04-01 05:08] sonalisonawane commented on #167
@vaishali614 mam do I have to change in opportunity calendar frontend ???

[2021-04-01 05:36] #151 closed, assigned to akshitakanojia

[2021-04-01 13:07] SandeepKrSuman opened #176 "Dynamic copyright year on the footer"
### **Feature request**:

Adding a dynamic copyright year would make it update automatically whenever year changes.

### **Is your feature request related to a problem? Please describe. (optional)**:

The current copyright year on the footer is 2020 instead of 2021.

### **Describe the solution you'd like**:

Fetching year from javascript getFullYear function would make the year dynamic.

### **De

[2021-04-02 07:15] Pratishtha33 opened #179 "Girl specific opportunities"
### **Feature request**:

there are many opportunities that are only for girls, to empower and motivate them.  it will be easier for them to browse specific opportunities.

### **Is your feature request related to a problem? Please describe. (optional)**:

YES, as I am a fresher girl from tier-3 college so I browse opportunities specifically for girls and I found it difficult because it takes too

[2021-04-02 08:07] #171 closed, assigned to shriya030

[2021-04-02 08:25] #176 closed, assigned to SandeepKrSuman

[2021-04-02 08:27] vaishali614 commented on #38
Any updates @Spring-dot?

[2021-04-02 08:34] Spring-dot commented on #38
I am caught by fever and cold, assign to someone else, I can't work long on laptop. sorry :(

[2021-04-02 08:37] vaishali614 commented on #38
Sorry to hear that. Please take care.
You can take up some other issue as soon as you get well. Looking forward to more contributions from you.

[2021-04-02 08:39] Manvityagi commented on #179
I like the feature,
but can we just add a filter on top of the View Opportunities Page, like - `View opportunities for females only` and `Exclude female-only opportunities`?

We can also have a dedicated page for female-only opportunities though but it will be 1 single page unlike 6 types of opportunities in the current model of the website.
On that single page, we can have filters of Scholarship,

[2021-04-02 08:40] shriya030 commented on #38
@vaishali614 I can try this :) Can you assign this to me?

[2021-04-02 08:47] Pratishtha33 opened #180 "communities"
### **Feature request**:

### **Is your feature request related to a problem? Please describe. (optional)**:

the problem is, students as a fresher don't know the path to learn new skills. they lose motivation and they stop learning new things every day.

### **Describe the solution you'd like**:

so, I would like to add the communities section to the website so that students will join the communi

[2021-04-02 08:48] vaishali614 commented on #38
Sure. Go ahead.

[2021-04-02 09:22] Jassi10000-zz commented on #38
@vaishali614 , @Manvityagi   Mam I commented a lot before than other participants , then also I have not been assigned this

[2021-04-02 09:36] vaishali614 commented on #38
Apologies. Missed your comments among numerous comments. Assigning this issue to you now.
@shriya030 if @Jassi10000 fails to complete it within 5 days, it'll be assigned to you.

[2021-04-02 09:38] mohammedjameel24 commented on #38
Assign me @vaishali614

[2021-04-02 09:39] vaishali614 commented on #38
@Jassi10000 has been assigned on FCFS basis.

[2021-04-02 10:42] abdus commented on #179
@Manvityagi I would go with the first option. `Female Only` is not a category (given that the categories are divided based on the type of the opportunity ... internship, full-time etc). it definitely is a filter tho. having a toggle button somewhere at the top would be enough. Additionally, we can add labels to female-only opportunities.

[2021-04-02 13:42] Manvityagi commented on #179
Fair Enough

[2021-04-02 13:51] DeepanshiD commented on #179
Yes! Having filter is most optimum solution to the problem and it serves feature purpose too
CC @Manvityagi @abdus

[2021-04-02 15:02] Pratishtha33 commented on #179
@Manvityagi @abdus  after clicking on the toggle button(filter) Will it is on the same page or a different page. If different then can I work on this??

[2021-04-02 15:10] Jassi10000-zz commented on #38
Thanks mam @vaishali614

[2021-04-02 17:53] aishux opened #181 "Git Bot"
### **Feature request**:

A clear and concise description of the feature.

### **Is your feature request related to a problem? Please describe. (optional)**:

Add GitHub action to auto label issues with gssoc21 label when contributor asks to work under gssoc21. As it takes time for the maintainer to add labels, I can add a script that can auto-label issues with the GSSOC21 label whenever contribut

[2021-04-02 19:03] vaishali614 commented on #181
@aishux This issue is a duplicate of #137. So I'm closing this issue. You can take up that issue if the assigned person is unable to complete it.

[2021-04-02 19:03] #181 closed, assigned to nobody

[2021-04-03 05:09] abdus commented on #179
@Pratishtha33 keeping it on the same page should just work. you can do something like `opportunity.forFemale ? show(opportunity) : hide(opportunity)`

cc: @DeepanshiD @Manvityagi

[2021-04-03 06:31] DeepanshiD commented on #179
@abdus I guess we can do it better with a small checkbox below search bar, writing "Female Opportunities" and it will serve purpose and come in first sight too.
Whatsay? @Manvityagi

[2021-04-03 09:24] tanvi355 opened #182 "Update readme with new marking scheme"
I would like to update the marking scheme in readme under gssoc'21

[2021-04-03 09:56] #167 closed, assigned to sonalisonawane

[2021-04-03 13:40] #182 closed, assigned to tanvi355

[2021-04-03 13:44] vaishali614 commented on #137
@RavjotSandhu Any updates?

[2021-04-03 18:11] abhay27chauhan opened #184 "Hide and show password functionality button in form"
### **Feature request**:

Hide and show password functionality button in form

[2021-04-03 20:08] vaishali614 commented on #184
@abhay27chauhan do you wanna take this issue?

[2021-04-03 20:17] abhay27chauhan commented on #184
Yes

On Sun, 4 Apr, 2021, 1:38 AM Vaishali, ***@***.***> wrote:

[2021-04-04 00:44] akshay1027 opened #185 "Github profile Links and design links in the readme to open in a new tab"
# Prerequisites:

Please answer the following questions for yourself before submitting an issue. **YOU MAY DELETE THE PREREQUISITES SECTION.**

- [] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:

Please describe the behavior you are expecting.
Links in

[2021-04-04 10:31] abhay27chauhan commented on #184
@vaishali614 what should use for the icon ?

[2021-04-04 11:14] abhay27chauhan commented on #184
@vaishali614 done.

[2021-04-04 11:53] vaishali614 commented on #185
@akshay1027 Do you wanna take up this issue?

[2021-04-04 11:56] vaishali614 commented on #165
@AshuKV This issue is up for grabs. Please comment if you still wanna take this up.

[2021-04-04 11:59] akshay1027 commented on #185
yes! but i found that we cant do like this in github! here is the link to that: https://github.com/mojombo/github-flavored-markdown/issues/28

[2021-04-04 12:06] vaishali614 commented on #185
Yeah! So, I'm closing this issue then. Please open another issue to work on.

[2021-04-04 12:06] #185 closed, assigned to nobody

[2021-04-04 13:37] #184 closed, assigned to abhay27chauhan

[2021-04-04 14:07] aastha-io opened #187 "Space between navbar elements"
### **Feature request**:
A clear and concise description of the feature.

I want to add left spacing in the navbar it is too close to the ends

### **Is your feature request related to a problem? Please describe. (optional)**:

A clear and concise description of what the problem is.

### **Describe the solution you'd like**:
A clear and concise description of what you want to happen.

I will add s

[2021-04-04 14:09] AshuKV commented on #165
I want to work on this issue. Please assign it to me.

[2021-04-04 14:26] abhay27chauhan opened #188 "Want to implement react context api"
### **Feature request**:

Want to implement react context api @abdus

[2021-04-04 14:31] vaishali614 commented on #173
@aj3011 Please update the FAQs as below:

1. What is Opportunity Calendar?
Exactly what the title says : It's a calendar filled with opportunities in the tech industry for you!

2. Why is it needed?
Many a times, it's not that we don't have the right opportunities - it's that we don't know about them. The opportunity calendar serves the purpose of eliminating this hurdle- by keeping you abreast wi

[2021-04-04 14:38] aj3011 commented on #173
Okay! Will do it. @vaishali614 Please assign this to me.

[2021-04-04 20:23] abdus commented on #180
we have a website for that. http://girlcodeit.com/

[2021-04-04 20:24] abdus commented on #188
for what exactly?

[2021-04-04 20:25] abdus commented on #179
@DeepanshiD yeah, that is what I was suggesting.

[2021-04-04 20:25] abhay27chauhan commented on #188
So that I can complete that user wala part

On Mon, 5 Apr, 2021, 1:54 AM Abdus, ***@***.***> wrote:

[2021-04-04 20:30] Spring-dot opened #190 "Add icon in navbar"
### **Feature request**:

We can add 'logo/icon' just before the title 'Girl Code It'.

### **Is your feature request related to a problem? Please describe. (optional)**:

No

### **Describe the solution you'd like**:

Add 'logo' in navbar and also it will be linked to home page.

### **Describe alternatives you've considered**:

N/A

### **Describe how this feature will be useful to our readers**

[2021-04-05 13:56] Spring-dot commented on #190
@Manvityagi please assign this to me

[2021-04-05 14:10] WebVishal opened #191 "Add chatbot feature to the website for the convenience of users"
hi I'm Vishal, I think it should have a chatbot feature so that it can interact with the user easily and be able to convince well
can I work on this idea as Gssoc'21 Participant?

[2021-04-05 14:23] #173 closed, assigned to aj3011

[2021-04-05 14:36] Manvityagi commented on #38
@Jassi10000 What's the status of the PR for this issue?

[2021-04-05 14:38] Manvityagi commented on #137
You can check on your fork by changing the code for your fork.

[2021-04-05 14:39] Manvityagi commented on #180
We can add somewhere on the homepage the link to our codemaps on main website.

Cc: @DeepanshiD @abdus

[2021-04-05 15:45] Pratishtha33 commented on #180
As you mentioned on your separate website that everything needs a structure to work properly. we can add it on the navbar of the opportunity calendar. as (community )so the visitor will find it convenient and helpful. @abdus @Manvityagi 😇
user will find everything in one place and this web will be all in one.

[2021-04-06 06:59] Jassi10000-zz commented on #38
@Manvityagi Mam will send it soon , actually was busy due to an exam that's why

[2021-04-06 11:12] Avishake007 opened #192 "Responsiveness and design of the website"
I think the divs in the know about portion when seen in smaller device will look better if they are placed center.
I also want to work on the design of the website.
Please assign me for this issue under gssoc'21.

[2021-04-06 20:11] akshitakanojia commented on #164
Hi @vaishali614 , can I work on this issue?

[2021-04-07 07:35] mohitms007 opened #194 "Redesign of the job/opportunity card and make it complement the whole website."
### **Feature request**:

A clear and concise description of the feature.
  The card component in the website which is shown for different jobs and opporutunities doesn't look ideal and the image can be rounded instead of a square which doesn't look good. The details and apply button too can see improvement and look more inclusive and professional.

### **Is your feature request related to a probl

[2021-04-07 07:53] mohitms007 commented on #194
Please assign this to me.

[2021-04-07 08:37] Manvityagi commented on #194
Good catch, Go ahead @mohitms007

[2021-04-07 09:57] mohitms007 commented on #194
Thanks I will start working on it!

[2021-04-07 10:04] wajeehamushtaq opened #195 "Adding mouse move over effect"
### **Feature request**:

Adding mouse move over effect on images and cards used in the site

### **Describe the solution you'd like**:

Adding some javascript and CSS for adding 3D perspective. So the cards and images used on the site will look 3D in perspective.

[2021-04-07 10:04] wajeehamushtaq commented on #195
Please assign this issue to me

[2021-04-07 10:33] leoshrey opened #196 "Revamp the current Navbar"
### **Feature request**:

A more responsive Navbar having better user experience should be used.

### **Is your feature request related to a problem? Please describe.**:

Based on the discussion https://github.com/Girl-Code-It/Opportunity-Calendar-Frontend/issues/144#issuecomment-806554050 with @vaishali614,  I think revamping needs to be done with the current Navbar as it will improve the user ex

[2021-04-08 17:04] vaishali614 commented on #192
Yeah. We need to fix that. Please go ahead. Don't change any design, just correct the responsiveness wherever required.

[2021-04-08 17:13] vaishali614 commented on #195
@DeepanshiD what are your views on this?

[2021-04-08 17:19] vaishali614 commented on #196
@leoshrey The discussion that we had on #144 was around navbar for view opportunity and post opportunity pages. This navbar looks fine to me.
But I liked the hover animation. So you can try implementing that. No other changes please.

[2021-04-08 17:20] DeepanshiD commented on #195
@wajeehamushtaq There are already a lot of animations and hover effects used in the website any more of it will be an overdo, we don't need anymore hover or mouse move over effects.
CC @vaishali614

[2021-04-08 17:21] vaishali614 commented on #187
@AasthaCodex I think it already has enough spacing, we don't need any more spacing. So I'm closing this issue. Please find some other issue to work on.

[2021-04-08 17:21] #187 closed, assigned to nobody

[2021-04-08 17:23] vaishali614 commented on #195
@wajeehamushtaq I agree with @DeepanshiD, so I'm closing this issue. Please find some other issue to work on.

[2021-04-08 17:24] #195 closed, assigned to nobody

[2021-04-08 17:25] vaishali614 commented on #179
@Pratishtha33 are you still interested in working on this issue?

[2021-04-08 17:32] vaishali614 commented on #188
@abhay27chauhan It would have been better if you would have given reference to the issue you are talking about. In fact, whenever you create an issue, give proper reasoning to what you wanna add and how will it benefit.

[2021-04-08 17:37] Pratishtha33 commented on #179
@vaishali614 yes Ma'am, I am pretty interested in adding the  features to the website and want to work. I have the Google Generation coding test day after tomorrow. After that i will definately work with you 😇.

[2021-04-08 17:39] abhay27chauhan commented on #188
I did not give a reason as you don't have either react context api or redux
in your app, and you are not going with redux as told by one of your team
mate so I thought that it is obvious that you would like to implement react
context api. So I opened the issue

On Thu, 8 Apr, 2021, 11:02 PM Vaishali, ***@***.***> wrote:

[2021-04-08 17:41] vaishali614 commented on #179
Great. I'm assigning the issue to you then.

[2021-04-08 17:48] leoshrey commented on #196
Sure, working on that.

[2021-04-08 17:48] wajeehamushtaq opened #197 "Redesign Footer of the site"
### **Feature request**:

I am a GSSOC'21 participant and want to redesign the footer of the site according to the XD design.

![gss](https://user-images.githubusercontent.com/55188521/114073240-80f8e180-98bc-11eb-87b0-9dc6c9e9cb54.JPG)

[2021-04-08 20:05] vaishali614 commented on #188
Okay, but please make sure you give proper explanation to an issue created by you from next time.
Assigning this issue to you. You can start working on it.

[2021-04-08 20:10] vaishali614 commented on #197
@wajeehamushtaq This was our previous design and the current design has been updated by one of GSSoC participants only. I apologize because the designs mislead you. I'll get them updated.

[2021-04-08 20:10] #197 closed, assigned to nobody

[2021-04-08 20:20] vaishali614 opened #198 "Update footer"
1. Redirect CodeMaps to: "https://girlcodeit.com/codemaps"
2. Redirect Opportunity Calendar to: "/" i.e. the homepage itself
3. Convert headings (PRODUCT, LINKS and CONTACT US) to normal case (Products, Links, Contact Us)
4. Underline Contact Us too
5. Redirect logo to: https://girlcodeit.com/
6. Align copyright icon with '2021 Girl Code It'

[2021-04-08 20:23] vaishali614 commented on #198
@wajeehamushtaq Since 2 issues opened by you were closed back to back, I've opened this issue and would like you to work on this. Please comment below if you wanna take up this issue.

[2021-04-08 20:30] vaishali614 commented on #180
Our main website is already linked through `Know more` button of About section. And as soon as we're able to complete this one, we'll link it with our main website too. So both are already linked together. So, I'm closing this issue.

[2021-04-08 20:30] #180 closed, assigned to nobody

[2021-04-08 20:34] vaishali614 commented on #38
@Jassi10000 Would like to receive a PR on this by tomorrow. You can't stay assigned to one issue this long as per rules.

[2021-04-08 20:36] vaishali614 commented on #137
@RavjotSandhu please respond by tomorrow otherwise I'll have to unassign you from this issue as per deadline rules.

[2021-04-08 20:37] vaishali614 commented on #165
@AshuKV What's the status of PR on this issue?

[2021-04-08 20:50] mohammedjameel24 commented on #38
Assign me

[2021-04-08 22:22] abhay27chauhan commented on #188
@vaishali614 is it ok ?

[2021-04-09 05:35] Jassi10000-zz commented on #38
@vaishali614 Mam I would have submiitted the PR , but am not able to access even the localhost

![doutbt1](https://user-images.githubusercontent.com/64856348/114133277-6c036900-9923-11eb-9735-ff798394fb39.PNG)

Am again and again encountering this error

After I do "npm start" this error appears   after  the line  " react - scripts ......."

[2021-04-09 05:42] wajeehamushtaq commented on #198
Yes I want to work on it

On Fri, Apr 9, 2021, 1:24 AM Vaishali ***@***.***> wrote:

[2021-04-09 06:40] vaishali614 commented on #38
Try following this: https://stackoverflow.com/questions/66064706/react-module-parse-failed-unexpected-token-148

[2021-04-09 07:26] Jassi10000-zz commented on #38
Am still getting the same error even after following the same steps

[2021-04-09 16:25] #190 closed, assigned to Spring-dot

[2021-04-10 03:33] khareyash05 opened #204 "add contributing.md"
Hi I would like to  add the following in contributing.md-
Difference between GIT and GITHUB
How to clone,fork repository
How to create a branch and then use git push to push to repo
Create a PR
Squash commits in a single issue into one
Updating the forked and local repo as the updations are made in the upstream

[2021-04-10 05:58] Jassi10000-zz commented on #38
@vaishali614 Mam can you please  help

[2021-04-10 18:07] mohammedjameel24 commented on #38
assign me @vaishali614

[2021-04-11 05:56] Jassi10000-zz commented on #38
Mam  @vaishali614  , you can assign to @mohammedjameel24  as am facing a lot of issues while starting the application as well seeing my changes made to the application

[2021-04-11 07:27] #196 closed, assigned to leoshrey

[2021-04-11 10:29] vaishali614 commented on #137
@RavjotSandhu due to your inactiveness, i'm unassigning you from this issue.

[2021-04-11 16:44] vaishali614 commented on #204
@khareyash05 We already have contributing.md, in case you missed it. It already includes few of the things mentioned by you.

You can add the following -
1. Difference between GIT and GITHUB
2. Squash commits in a single issue into one
3. Updating the forked and local repo as the updations are made in the upstream
4. You can include the link to this video too: https://www.youtube.com/watch?v=ZeHPc

[2021-04-11 16:50] vaishali614 commented on #191
@WebVishal Thanks for opening this issue. Upon discussing with other mentors, we came to a conclusion that this feature doesn't seem much relevant to the project requirements. So I'm closing this issue. Please find some other issue to work on.

[2021-04-11 16:53] #191 closed, assigned to nobody

[2021-04-12 04:41] anhushree opened #205 "Arrangement of Buttons in HomePage"
- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:

Please describe the behavior you are expecting.
The Explore button should be moved to its left, Know More button should be moved up and aligned with the blue line above it right now.

# Current Behavi

[2021-04-12 04:54] anhushree opened #206 "Double Spaces in About Us paragraphs"
- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:

Please describe the behavior you are expecting.
Reduced double spaces in the About Us paragraph

# Current Behavior:

What is the current behavior?
The About Us content has an extra space between the

[2021-04-12 08:10] abhay27chauhan commented on #188
@vaishali614  ??

[2021-04-12 11:37] mohammedjameel24 commented on #38
am not able to push code to develop branch which came default after cloning into the repo

error
`$ git push origin develop`
`remote: Permission to Girl-Code-It/Opportunity-Calendar-Frontend.git denied to mohammedjameel24.
fatal: unable to access 'https://github.com/Girl-Code-It/Opportunity-Calendar-Frontend.git/': The requested URL returned error: 403 `

@vaishali614

[2021-04-12 12:06] Manvityagi commented on #38
Seems like you didn't fork @mohammedjameel24.

Follow the steps in contributing.md

[2021-04-12 12:20] mohammedjameel24 commented on #38
Ooooooo noob mistake

[2021-04-12 15:43] mohammedjameel24 commented on #38
pull request #207

[2021-04-12 20:41] vaishali614 commented on #205
@anhushree The two buttons are knowingly placed like that. However, `Know More` button seems distorted in mobile view. Let me know if you wanna work upon that.

The button should be shifted above a bit and left aligned with the text.
![3Capture](https://user-images.githubusercontent.com/32364768/114458866-6648a480-9bfd-11eb-93f0-4171bbe3bf2e.PNG)

[2021-04-12 20:43] vaishali614 commented on #206
@anhushree If you're talking about the space between two paragraphs, then it's not unwanted. So, I'm closing this issue. Let me know if I'm wrong.

[2021-04-12 20:43] #206 closed, assigned to nobody

[2021-04-12 20:45] vaishali614 commented on #165
@AshuKV Please show your activeness by making a PR by tomorrow, otherwise I'll have to unassign you as per deadline rules.

[2021-04-12 20:46] vaishali614 commented on #192
@Avishake007 Are you working on this issue?

[2021-04-13 02:22] anhushree commented on #205
![image](https://user-images.githubusercontent.com/56672958/114487182-c73ba100-9c2c-11eb-9101-fa4dac552c8b.png)
I was referring to the spaces between the words
for eg, in the above image we can see there is a double space between "if  you  feel   like   you   keep   missing   on   good" in the first paragraph

[2021-04-13 02:24] anhushree commented on #206
![image](https://user-images.githubusercontent.com/56672958/114487182-c73ba100-9c2c-11eb-9101-fa4dac552c8b.png)
I was referring to the spaces between the words
for eg, in the above image we can see there is a double space between "if  you  feel   like   you   keep   missing   on   good" in the first paragraph

[2021-04-13 02:24] anhushree commented on #205
yes sure, I would like to work on this issue.

[2021-04-13 02:28] anhushree commented on #206
@vaishali614, Could you kindly check this issue once again?

[2021-04-13 04:40] AshuKV commented on #165
Hey @vaishali614 I am currently working on this issue, will push the code by EOD today.

[2021-04-13 06:43] vaishali614 commented on #206
That's because the text is justified. Let me know if you can remove those extra spaces and it'll remain justified.

[2021-04-13 17:11] Inventor77 commented on #137
@vaishali614 Mam I would love to work on this Issue Please Assign it to me

[2021-04-13 19:01] #198 closed, assigned to wajeehamushtaq

[2021-04-14 13:28] anirudhsai20 opened #211 "Readme file enhancement"
The Readme file can be enhacned by adding a list of all the OPen Source programs in which this project was listed in.

[2021-04-14 13:29] anirudhsai20 commented on #211
Hi! Please assign this issue to me under GSSOC.

[2021-04-15 06:37] #194 closed, assigned to mohitms007

[2021-04-15 06:39] vaishali614 commented on #205
Any updates?

[2021-04-15 07:16] #204 closed, assigned to khareyash05

[2021-04-15 19:22] #164 closed, assigned to akshitakanojia

[2021-04-15 20:44] AB-san commented on #137
I would like to work on this issue

[2021-04-15 20:52] vaishali614 commented on #137
@Inventor77 @AB-san  Issues are assigned on FCFS basis, so I'm assigning this issue to @Inventor77. If he fails to finish it within 2 days, it'll be assigned to @AB-san.

[2021-04-16 12:54] archanagandhi opened #215 "Preloader feature"
Hey @vaishali614,
I would like to add the preloader effect to the website,. Please assign this to me.
Thanks

[2021-04-17 07:06] kumarishalini6 opened #216 "Remaking of Sign Up and Sign In page"
### **Feature request**:
The sign up and sign in page should be more graceful and must have validations.
I want to work on this issue under GSSoC'21 participant can i ?

[2021-04-17 07:10] kumarishalini6 opened #217 "Forget Password Page"
### **Describe the bug:**

There is option of forget password in sign in page but no forget page . I want to work on this issue under GSSoC'21 Participant.

[2021-04-17 12:43] #192 closed, assigned to Avishake007

[2021-04-17 12:49] #137 closed, assigned to Inventor77

[2021-04-17 12:55] #205 closed, assigned to anhushree

[2021-04-17 12:57] vaishali614 commented on #211
@anirudhsai20 Go ahead

[2021-04-17 12:59] vaishali614 commented on #215
@archanagandhi Go ahead

[2021-04-17 13:00] vaishali614 commented on #216
@kumarishalini6 Can you please show a glimpse of the change you wanna make?

[2021-04-17 13:01] vaishali614 commented on #217
@kumarishalini6 Go ahead

[2021-04-17 13:01] vaishali614 commented on #179
@Pratishtha33 What's your progress on this?

[2021-04-17 13:14] kumarishalini6 commented on #216
The pages are too short in full screen i want to make it perfect according to screen and want to add some images like:-
![React App - Personal - Microsoft​ Edge 4_17_2021 06_39_03 PM](https://user-images.githubusercontent.com/69043944/115114426-d1ff7a00-9f3b-11eb-837f-c4bacf3956dd.png)

[2021-04-17 13:16] kumarishalini6 commented on #216
I'll send you the final image  after working on it

[2021-04-17 13:20] kumarishalini6 commented on #216
now can i work on it?

[2021-04-17 13:22] kumarishalini6 opened #218 "Navbar in Sign in and Sign up page"
### **Describe the bug:**

There should be navbar in each and every page but navbar is not present in sign in and sign up page

[2021-04-17 16:10] vaishali614 commented on #216
@kumarishalini6 Looks good. But you've already been assigned an issue, so you'll have to first finish that one and then you can start with this one.

[2021-04-17 16:12] vaishali614 commented on #218
Yes we need a navbar on that page. Since you've already been assigned an issue, I can't assign you this one until to complete that one.

[2021-04-17 16:15] kumarishalini6 commented on #218
Ok , I am working on that issue I will send PR by tomorrow then you can assign it

[2021-04-17 17:15] kumarishalini6 commented on #217
I have send the PR please check.

[2021-04-17 17:18] kumarishalini6 commented on #216
I have fixes#217 now assign me

[2021-04-18 14:41] Pratishtha33 commented on #179
@vaishali614 I'm sorry for being late, I will add my code by tomorrow. what should I name the file??

[2021-04-18 15:17] Manvityagi commented on #179
You don't need a new file,
Just a checkbox type thing on top pf opportunities which says "Underrepresented Groups",
I think more text than this won't look good,
Instead you can have an "i" in a circle(representing more information), clicking which shows "See Opportunities only for underrepresented groups like transgenders, women, LGBTQ, black people etc".

CC: @DeepanshiD @vaishali614 @abdus
What

[2021-04-18 18:00] DeepanshiD commented on #179
I think we can segregate women and underrepresented groups, and list all underrepresented groups in tooltip ('i' in circle which on hover states all groups).
<> women <> underrepresented groups (i)
Something like above layout
CC : @vaishali614 @Manvityagi

[2021-04-19 08:42] ritik307 commented on #218
@vaishali614 I would like to work on this issue plz assign.

[2021-04-19 08:47] Samridhi-98 opened #221 "Inappropriate alignment of cards in tablet mode (768x1024)"
# Expected Behavior:

Cards appear to be on the center rather than the left.

# Current Behavior:

What is the current behavior?
Cards appear to be on the left side rather than the center.

# Solution:
Will align the cards to the center in tablet mode.

# Screenshots (optional):
![image_2021_04_19T08_42_58_366Z](https://user-images.githubusercontent.com/54466041/115208067-d2556c00-a119-11eb-8096-e

[2021-04-19 08:48] Samridhi-98 commented on #221
@vaishali614  I would like to work on this will you please assign it to me.

[2021-04-19 13:10] vaishali614 commented on #216
I have requested a few changes, once that PR gets merged, this issue will be assigned to you.

[2021-04-19 13:10] vaishali614 commented on #218
@kumarishalini6 Since you've already been assigned an issue, I'm assigning this issue to @ritik307

[2021-04-19 13:12] vaishali614 commented on #221
@Samridhi-98 You can go ahead with this but please make sure it's in center in all viewports (not only Tablet view).

[2021-04-19 13:12] ritik307 commented on #218
@vaishali614 thanks !

[2021-04-19 13:15] kumarishalini6 commented on #218
Wait I have send the PR of that issue I am waiting for this issue please don't you can assign him another issue that I have created

[2021-04-19 13:16] kumarishalini6 commented on #218
Ok sorry @ritik307 you can work on it

[2021-04-19 13:17] kumarishalini6 commented on #216
Ok

[2021-04-19 13:25] Samridhi-98 commented on #221
Sure, will it in mind.

[2021-04-19 18:38] Raj142 opened #224 "i want to add social media links at top of front page."
please assign it to me with label of GSSoC'21.

[2021-04-19 18:47] Raj142 opened #225 "in social media section github icon is missing"
i would like to add github icon so user can reach to our repo by clicking on it.
please assign it to me as a part of GSSoC'21.

[2021-04-20 10:16] Manvityagi commented on #179
@Pratishtha33
![image](https://user-images.githubusercontent.com/32908093/115379809-837a0600-a1ef-11eb-922f-4d14e06ae671.png)

A toggle button like this with the label 'Only for Women'

Refer to the image attached for an idea.

[2021-04-20 10:38] Pratishtha33 commented on #179
@Manvityagi thank you for giving an accurate idea, I was confused about what should I add.

[2021-04-20 14:51] Inventor77 opened #226 "New Github Action"
### **Feature request**:

new github action for issue which have been not worked for more than 7days

### **Is your feature request related to a problem? Please describe. (optional)**:

No problem just a feature sugguestion

### **Describe the solution you'd like**:

Labeling stale to issue not been  worked for 7 days or more

### **Describe alternatives you've considered**:

A clear and concise d

[2021-04-20 15:50] Manvityagi commented on #225
Go ahead @Raj142

[2021-04-20 17:05] vaishali614 commented on #224
@Raj142 I don't think social media links on top would look good. So I'm closing this issue. Please find some other issue to work on.

[2021-04-20 17:05] #224 closed, assigned to nobody

[2021-04-20 17:09] vaishali614 commented on #226
@Inventor77 Go ahead

[2021-04-20 17:46] #221 closed, assigned to Samridhi-98

[2021-04-20 17:46] vaishali614 opened #228 "Update API call to retrieve a list of opportunities"
Update the API in ViewOpportunity index.js file with https://opportunity-calendar.herokuapp.com/opportunity/?type=TYPE

where TYPE can be - HACKATHON, JOB, INTERNSHIP, SCHOLARSHIP, CONFERENCE, CODINGCOMPETITION

Follow this schema:
"data": [
    {
      "opportunityId": "3",
      "opportunityType": "SCHOLARSHIP",
      "opportunityLocation": "Chennai",
      "opportunityDescription": "The Novice

[2021-04-20 17:47] #218 closed, assigned to ritik307

[2021-04-20 18:27] akshitakanojia commented on #228
@vaishali614 can I work on this issue?

[2021-04-20 18:32] vaishali614 commented on #228
Sure. Go ahead.

[2021-04-21 05:27] vaishali614 opened #229 "Update API to create a new opportunity"
Update the API in all sections of PostOpportunity with: https://opportunity-calendar.herokuapp.com/opportunity

Example Schema:
{
  "opportunityTitle": "string",
  "opportunityType": "string",
  "opportunityOrganisation": "string",
  "opportunityLocation": "string",
  "opportunityDescription": "string",
  "opportunityEligibility": "string",
  "opportunityRegistrationDeadline": "2021-05-02",
  "opp

[2021-04-21 08:08] Samridhi-98 commented on #229
@vaishali614  I would like to work on it will you please assign it to me.

[2021-04-21 11:10] wajeehamushtaq commented on #229
Hi @vaishali614 I am GSSOC'21 participant. I want to work on this issue. Can you please assign this to me?

[2021-04-21 11:12] wajeehamushtaq commented on #165
I am GSSOC'21 participant. If this issue still open please assign this issue to me

[2021-04-21 13:45] vaishali614 commented on #165
@wajeehamushtaq Sure, go ahead.

[2021-04-21 13:47] vaishali614 commented on #229
@wajeehamushtaq Issues are assigned on FCFS basis, so I'm assigning this issue to @Samridhi-98

[2021-04-21 18:00] Inventor77 opened #232 "small update in autoLabel.yaml"
### **Describe the bug:**

file not giving the required result

[2021-04-21 18:02] Inventor77 commented on #232
@Manvityagi  Thanks mam for guiding me
this issue already has PR #227

[2021-04-22 04:26] SanskritiKushik5 commented on #216
Can I work over this issue as a GSSOC'21 participant?

[2021-04-24 09:34] #228 closed, assigned to akshitakanojia

[2021-04-25 09:36] ShrutiOmer opened #234 "add search icon"
### **Feature request**:

I want to add search icon in the search bar.

Please assign this issue to me.
### **Additional context:**

Add any other context or screenshots about the feature request here.

<hr/>

**Note:**

- If you want to work on an issue, you should check if it has already been assigned to anyone.

[2021-04-26 11:04] #188 closed, assigned to abhay27chauhan

[2021-04-26 11:13] #225 closed, assigned to Raj142

[2021-04-26 11:14] vaishali614 commented on #234
@ShrutiOmer Go ahead

[2021-05-01 08:30] #232 closed, assigned to Inventor77

[2021-05-01 08:31] #211 closed, assigned to anirudhsai20

[2021-05-01 08:33] #43 closed, assigned to nobody

[2021-05-02 11:01] vaishali614 commented on #234
@ShrutiOmer any updates??

[2021-05-02 11:09] #226 closed, assigned to Inventor77

[2021-05-02 11:09] vaishali614 commented on #215
@archanagandhi any updates?

[2021-05-02 11:10] vaishali614 commented on #179
@Pratishtha33 any updates?

[2021-05-02 11:10] vaishali614 commented on #165
@wajeehamushtaq any updates?

[2021-05-02 12:06] #217 closed, assigned to kumarishalini6

[2021-05-02 12:15] Manvityagi opened #235 "Implement Pagination"
- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:
Users should be able to move from one page to another
![image](https://user-images.githubusercontent.com/32908093/116812687-ac928300-ab6d-11eb-949e-bbcd86041ae4.png)

# Current Behavior:
All the result

[2021-05-02 12:21] vaishali614 opened #236 "View opportunity bug fixing"

[2021-05-02 12:23] #236 closed, assigned to nobody

[2021-05-02 12:30] Manvityagi opened #238 "Implement Dynamic Search"
### **Feature request**:

The search button is not functional as of now. Implement its logic to make it functional.
Refer [this](https://levelup.gitconnected.com/building-a-simple-dynamic-search-bar-in-react-js-f1659d64dfae) or any other tutorial if you don't know how to do it.

[2021-05-02 13:32] ritik307 commented on #235
@Manvityagi I would like to work on this Plz assign

[2021-05-02 13:53] kumarishalini6 commented on #216
i have send PR please review it.

[2021-05-02 14:57] AshuKV commented on #238
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-02 15:04] Manvityagi commented on #238
You have an issue assigned in backend, You can be assigned this only after completing that one.

[2021-05-02 16:32] RuchiGitHu opened #240 "Adding navbar options to footer."
### **Feature request**:

When we go to any "KNOW ABOUT" option like internship, Hackathons, Scholarships, etc. there is no option in website that can user to go back to home page of website. Without browser back option, user can't be able to back to home page of website.

### **Is your feature request related to a problem? Please describe. (optional)**:

There should be option to user that after

[2021-05-03 05:52] akshitakanojia commented on #238
@Manvityagi  can I work on this issue?

[2021-05-03 09:24] ShrutiOmer opened #242 "Add Social Icons to left of website"
### **Feature request**:

I want to add social icons to left side of website, which on hovering scales out.

### **Is your feature request related to a problem? Please describe. (optional)**:

### **Describe the solution you'd like**:

I am a GSSoC'21 participant please assign this issue to me.
I have added this feature to a website and there its screenshot.
![image](https://user-images.githubuser

[2021-05-03 09:51] Vishal1003 commented on #235
@Manvityagi Is this issue still open? If yes then I would like to work on this!

[2021-05-03 11:16] Manvityagi commented on #242
lOOKS GOOD @ShrutiOmer , Go ahead , Assigned to you :)

[2021-05-03 11:17] Manvityagi commented on #240
Okay, Sounds good. Lets see your implementation :)

[2021-05-04 14:25] kumarishalini6 commented on #216
Please review my PR

[2021-05-05 18:41] sreetu opened #244 "To add icons to navbar items"
### **Feature request**:

To add icons to the navbar items.

### **Is your feature request related to a problem? Please describe. (optional)**:

A clear and concise description of what the problem is.

### **Describe the solution you'd like**:

I would add icons to the left of every navbar item.

### **Describe alternatives you've considered**:

A clear and concise description of any alternative s

[2021-05-08 19:58] vaishali614 opened #245 "Make card image dynamic"

[2021-05-08 19:58] #245 closed, assigned to nobody

[2021-05-08 20:18] vaishali614 commented on #244
@sreetu Thanks for opening an issue, however I like the navbar the way it is already.
@DeepanshiD @Manvityagi What are your opinions on this?

[2021-05-08 20:35] #234 closed, assigned to ShrutiOmer

[2021-05-08 20:38] vaishali614 commented on #242
@ShrutiOmer You were already assigned an issue, but we assigned this issue to you simultaneously by mistake. Since your PR for previous issue is merged now, you can start working on this issue and your deadline will end after 2 days from today.

[2021-05-08 22:06] vaishali614 opened #247 "Refine View Opportunity Page"

[2021-05-08 22:06] #247 closed, assigned to nobody

[2021-05-08 22:22] vaishali614 commented on #235
Issues are assigned on FCFS basis, so I'm assigning this issue to @ritik307
@Vishal1003 please find some other issue to work upon.

[2021-05-08 22:24] vaishali614 commented on #238
@akshitakanojia Go ahead

[2021-05-08 22:28] vaishali614 commented on #165
@wajeehamushtaq due to your inactiveness, I'm unassigning you from this issue.

[2021-05-08 22:30] #38 closed, assigned to mohammedjameel24

[2021-05-08 22:31] vaishali614 commented on #179
@Pratishtha33 Due to your inactiveness, I'm unassigning you from this issue.

[2021-05-08 22:32] vaishali614 commented on #215
@archanagandhi Due to your inactiveness, I'm unassigning you from this issue.

[2021-05-09 11:18] #229 closed, assigned to Samridhi-98

[2021-05-09 12:23] kumarishalini6 opened #249 "Hover effect"
### **Feature request**:

There should be some hover effect in opportunity page's boxes, i want to work on this issue under GSSoC'21.
![Opportunity Calendar - Personal - Microsoft​ Edge 5_8_2021 06_43_52 PM](https://user-images.githubusercontent.com/69043944/117572210-48e0ec00-b07e-11eb-9cee-f58bdb933db0.png)

[2021-05-09 14:31] DeepanshiD commented on #244
@sreetu I guess the current navbar is minimal and does the work perfectly, plus we have enough illustrations in the website and more addition of icons would make it feel a lil too much use of visuals. So we can let it be as it is right now.
CC: @vaishali614 @Manvityagi

[2021-05-09 15:36] Manvityagi commented on #244
Yeah I agree

[2021-05-09 15:38] #244 closed, assigned to nobody

[2021-05-09 15:41] Manvityagi commented on #235
@Vishal1003 It has been assigned to you.
I think @ritik307 is not available as of now.

[2021-05-10 14:09] #216 closed, assigned to kumarishalini6

[2021-05-10 14:10] vaishali614 commented on #249
@kumarishalini6 what kind of hover effect do you wanna add?

[2021-05-10 14:16] kumarishalini6 commented on #249
I want to give some border shadow , little amount of gray color inside box , and hover effect as in home page's opportunity section

[2021-05-12 05:29] kumarishalini6 commented on #249
if you don't like the idea you can close the issue , i will create new issue.

[2021-05-12 06:29] vaishali614 commented on #249
@kumarishalini6 Let's keep it similar to the hover effect that's on homepage. Also, please take the latest pull from upstream before starting and before making a PR.

[2021-05-12 06:31] supzi-del opened #251 "Add smooth transition in meettheteam cards on hover"
- [x] I checked to make sure that this issue has not already been filed.

- [ ] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:

Expected Behavior:
Smooth css hover effect

# Current Behavior:

What is the current behavior?
On this page 👉 https://girlcodeit.com/meettheteam  when each card is hovered upon, the transition is a bi

[2021-05-12 06:36] #240 closed, assigned to RuchiGitHu

[2021-05-12 06:39] vaishali614 commented on #251
@supzi-del Thanks for pointing out this issue, but the page you're talking about is in a different repository: https://github.com/Girl-Code-It/Girl-Code-It-Website-Frontend. This repository is not a part of GSSoC, but if you still wanna work on this issue, please raise an issue on that repo. I'm closing this issue.

[2021-05-12 06:39] #251 closed, assigned to nobody

[2021-05-12 06:41] supzi-del commented on #251
Okay! Is this the one? https://github.com/Girl-Code-It/Girl-Code-It-Website-Frontend

[2021-05-12 06:45] vaishali614 commented on #251
Yes

[2021-05-12 07:20] kumarishalini6 commented on #249
Ok

[2021-05-12 07:22] shriya030 commented on #215
Can I work on this issue?

[2021-05-12 07:26] vaishali614 commented on #215
@shriya030 Go ahead

[2021-05-12 08:08] kumarishalini6 commented on #249
I have send PR with  latest upstream . please check it.

[2021-05-12 13:57] akshitakanojia commented on #235
@Manvityagi if this issue becomes available in future, I would like to work on it.

[2021-05-12 17:08] vaishali614 commented on #235
@Vishal1003 Please respond if you're working on this issue, otherwise I'll have to unassign you from this issue.

[2021-05-12 17:29] Vishal1003 commented on #235
@vaishali614 I'm really sorry. I won't be able to work on this issue as of now.

[2021-05-12 17:32] Manvityagi commented on #235
Awesome @akshitakanojia. I have assigned to you, Feel free to comment here if you face any difficulties in implementation.

[2021-05-12 17:38] #238 closed, assigned to akshitakanojia

[2021-05-12 17:38] shriya030 commented on #215
So I have to apply the preloader feature on every page and Can I choose the design on my own?

[2021-05-12 20:54] vaishali614 commented on #215
Yeah, it should be implemented on every page. Sure, come up with your design, we'll recommend changes if required.

[2021-05-12 21:02] vaishali614 opened #254 "Combine multiple Post Opportunity Forms into One form"
- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects)

# Current Behavior:
Currently, there are separate forms for each opportunity.

# Solution:
Since all the forms are accepting same data, we can combine 6 forms into one.
There are a few differences:
1) Hackathons, Coding Competitions and

[2021-05-13 02:03] Sukriti-sood commented on #165
I want to work on this.

[2021-05-13 12:40] kumarishalini6 commented on #249
Please close this issue

[2021-05-13 12:44] kumarishalini6 opened #255 "Feedback form"
### **Feature request**:
There should be a feedback form , through feedback form  we came how much people like it how it is useful for the users and also let us know where we are lacking so that we can add that things in project .
I want to design this page under GSSOC'21 participants.

[2021-05-13 12:47] vaishali614 commented on #249
You should ideally mention the issue with your PR, so that when the PR is merged , the issue closes automatically.

[2021-05-13 12:47] #249 closed, assigned to kumarishalini6

[2021-05-13 12:51] rakshaa2000 commented on #255
Hey, this has to have backend integration as well. I'll check up if this can be done.

[2021-05-13 12:54] kumarishalini6 commented on #255
Ok

[2021-05-13 12:59] #242 closed, assigned to ShrutiOmer

[2021-05-13 13:07] rakshaa2000 opened #256 "Misalignment in Mobile Views"
### **Describe the bug:**

The mobile view of the View Opportunities page is a little haphazard. The texts are not constricted to the boxes and the label texts are a little too big for the same.

### **Expected behavior:**

Change the font sizes appropriate and proportional to the screen size.

### **Screenshots:**

![image](https://user-images.githubusercontent.com/46165429/118129637-0d497780-b41

[2021-05-13 13:07] kumarishalini6 commented on #255
I 'll also try to interigate

[2021-05-13 14:54] rakshaa2000 commented on #255
Hey, you can work on it. Just link the feedback form button to a Google form.

[2021-05-13 14:57] kumarishalini6 commented on #255
What type of Google form ?

[2021-05-13 14:57] kumarishalini6 commented on #255
Fir Google form we need a form

[2021-05-13 18:50] akshitakanojia commented on #235
@Manvityagi is it possible to get total number of pages as well in the api response, as it will be required to show the page numbers. Otherwise I can show only **prev current next**.

[2021-05-14 06:47] rakshaa2000 commented on #255
We will provide you with the link soon

[2021-05-14 07:14] kumarishalini6 commented on #255
ok

[2021-05-14 16:49] kumarishalini6 commented on #255
Hey! i have finished my work.

[2021-05-15 04:39] akshay1027 opened #257 "Implement route based code splitting and lazy loading"
### **Feature request**:

Implement route-based code splitting and lazy loading so that what is needed only will be loaded and the rest will be loaded asynchronously.

This will improve load time and performance!

<hr/>

**Note:**

- If you want to work on an issue, you should check if it has already been assigned to anyone.

[2021-05-15 04:40] akshay1027 commented on #257
i want to work on this under gssoc21 @Manvityagi @vaishali614.

[2021-05-15 12:20] vaishali614 commented on #257
@akshay1027 Go ahead

[2021-05-16 18:22] kumarishalini6 commented on #255
When you'll provide link

[2021-05-17 18:25] vaishali614 commented on #165
@Sukriti-sood Any updates?

[2021-05-17 18:25] vaishali614 commented on #215
@shriya030 Any updates?

[2021-05-17 18:54] Sukriti-sood commented on #165
@vaishali614  Half is done , Will try to complete it by today.

[2021-05-17 19:25] vaishali614 commented on #165
Great. Looking forward to your PR.

[2021-05-18 04:18] shriya030 commented on #215
I was busy with some college assignments. I'll update you tomorrow.

[2021-05-18 06:14] AyushPradhan9 commented on #179
Hey, I am interested to commit to the issue but I have some problems understanding the requirements, do we only have to add toggle button "Only for Girls" or make it work as well.

[2021-05-18 06:18] AyushPradhan9 commented on #254
Hey, I am interested in the issue. I have a solution to drop or add the fields as we select the opportunity type. Changes to be made:
1) The opportunity selecting dropdown menu will be moved to top to first be able to select opportunity type and the continue filling required detail in form.
2) Removing all specific forms and making one generic form.

[2021-05-18 06:29] vaishali614 commented on #254
@AyushPradhan9 Great! You can go ahead with this.

[2021-05-18 06:35] vaishali614 commented on #179
@AyushPradhan9 The toggle button should be working as well. It should list all the opportunities specific to females within the selected opportunity.

Also, since you've already been assigned an issue, this issue can't be assigned to you. As soon as you're able to complete that one, you can comment again and start working on this one.

[2021-05-18 06:55] vaishali614 commented on #255
@kumarishalini6 Apologies for the delay. Please use this link for feedback form: https://forms.gle/jP3SEJgDcTPMiTGM7

[2021-05-18 06:57] kumarishalini6 commented on #255
That totally fine . Once I'll set the link then send PR.

[2021-05-18 07:43] kumarishalini6 commented on #255
I have send PR please have a look

[2021-05-20 16:31] srishtij2000 commented on #256
Can I work on this issue?

[2021-05-21 08:27] Surajbokde commented on #256
@srishtij2000 go ahead

[2021-05-21 08:44] kumarishalini6 commented on #255
Merged

[2021-05-21 08:44] #255 closed, assigned to kumarishalini6

[2021-05-22 04:20] kumarishalini6 opened #262 "Change style of opportunity form"
### **Feature request**:
I want to change style of form like:-

![WhatsApp Image 2021-05-21 at 21 06 44](https://user-images.githubusercontent.com/69043944/119214258-e7ebe780-ba71-11eb-9035-25c010b99118.jpeg)

[2021-05-22 04:20] kumarishalini6 commented on #262
can i work on this issue under GSSoC'21.

[2021-05-22 14:31] vaishali614 commented on #262
@kumarishalini6 Which form are you talking about?

[2021-05-22 14:39] kumarishalini6 commented on #262
This form--
![Opportunity Calendar - Personal - Microsoft​ Edge 5_22_2021 08_07_53 PM](https://user-images.githubusercontent.com/69043944/119230387-6e331880-bac8-11eb-85db-61b245677951.png)

[2021-05-22 15:31] sandra9711 opened #263 "Adding a newsletter component"
### **Feature request**:

Adding a component for 'Signup for newsletter'

### **Describe the solution you'd like**:

I would like to design and implement a react component for newsletter subscription for this website

### **Describe how this feature will be useful to our readers**:

Users can subscribe to get opportunity alerts at the right time

<hr/>

[2021-05-22 15:53] vaishali614 commented on #262
@kumarishalini6 There's already an issue for this #165 and someone is already working on it. So I'm closing this issue. Please find some other issue to work upon.

[2021-05-22 15:53] #262 closed, assigned to nobody

[2021-05-22 16:00] vaishali614 commented on #263
@Manvityagi What are your opinions on this?

[2021-05-22 16:07] Manvityagi commented on #235
Hey, yeah. We can do that.
Would you mind creating that issue in backend?

[2021-05-22 16:08] vaishali614 commented on #215
@shriya030 Haven't got any update yet. Are you still busy with something else? Please let me know so that I can unassign you and someone can pick this up.

[2021-05-22 16:16] shriya030 commented on #215
@vaishali614 It's not working for me. I have tried alot. You can assign it to someone else.

[2021-05-23 18:23] #254 closed, assigned to AyushPradhan9

[2021-05-23 18:31] vaishali614 commented on #179
@AyushPradhan9 Your PR has been merged. You're free to work on this issue now. Please let me know if you're still interested in working on this issue, I'll assign it to you.

[2021-05-23 18:43] AyushPradhan9 opened #264 "Optimize the project directory by deleting unwanted CSS files."
- [x] I checked to make sure that this issue has not already been filed.

- [x] I'm reporting the issue to the correct repository (for multi-repository projects) **(optional)**

# Expected Behavior:
Optimize the project by removing unnecessary CSS files previously used in PostOpportunity form.

# Current Behavior:
Many unnecessary CSS files are making the style module cluttered.

# Solution:
Delet

[2021-05-23 18:44] AyushPradhan9 commented on #264
@vaishali614 please assign it.

[2021-05-23 18:46] AyushPradhan9 commented on #179
Apologizes @vaishali614  mam, I can't take such a big issue as of now because of some other commitments. I will surely inform you if I got some time. Thank you.

[2021-05-24 06:01] akshitakanojia commented on #235
okay I'll create.

[2021-05-24 06:08] #165 closed, assigned to Sukriti-sood

[2021-05-24 06:47] vaishali614 commented on #256
@srishtij2000 Any updates?

[2021-05-24 06:52] Manvityagi commented on #263
Much needed feature. Thanks for pointing this out @sandra9711

[2021-05-24 06:56] vaishali614 commented on #263
@sandra9711 Please go ahead

[2021-05-24 11:28] #215 closed, assigned to nobody

[2021-05-24 16:02] #264 closed, assigned to AyushPradhan9

[2021-05-25 07:06] sandra9711 commented on #263
![oc1](https://user-images.githubusercontent.com/66560251/119453967-997e6780-bd55-11eb-97d5-4206c194d25a.png)
![oc2](https://user-images.githubusercontent.com/66560251/119454037-af8c2800-bd55-11eb-8c65-3c8312dc1e01.png)

[2021-05-25 14:13] niteshseram opened #268 "Hiding the social icons in the sidebar"
### **Feature request**:
Hiding the social icons in the sidebar in mobile view

### **Describe the solution you'd like**:

I think hiding the social icons in the left side in mobile view will be good since the same icons are available in the footer also.

### **Describe how this feature will be useful to our readers**:

This will help in increasing the width of main content in small screen size. C

[2021-05-25 14:29] niteshseram commented on #268
I can work on this issue if this is a needed feature

[2021-05-25 16:36] abhay27chauhan opened #269 "Adding a loader on opportunity and other pages"
### **Feature request**:

Adding a loader on opportunity and other pages.
![Screenshot 2021-05-25 at 10 05 19 PM](https://user-images.githubusercontent.com/42849043/119535174-5d72f300-bda5-11eb-80f4-b28cba63e188.png)

[2021-05-28 10:10] keshavgbpecdelhi opened #270 "Any Issue"
Is there any issue left for beginner gssoc

[2021-05-30 18:43] raks924 commented on #179
Hey, can i try working on this issue?

[2021-06-03 19:14] #270 closed, assigned to nobody

[2021-06-04 05:56] #263 closed, assigned to sandra9711

[2021-06-04 06:05] vaishali614 commented on #256
@srishtij2000 Unassigning you from the issue due to your inactivity.

[2021-06-04 06:06] vaishali614 commented on #179
@raks924 Any updates on PR?

[2021-06-05 08:48] raks924 commented on #179
ummm @vaishali614 i think now if i work this wont be counted in pr scoreboard ...ryte?

[2021-06-05 10:06] Manvityagi commented on #179
Yeah, GSSOC is over.
But open-source is not only about score boards and programs :)

[2021-06-06 07:26] raks924 commented on #179
ya that is true :) .. but rn cant work on an urgent basis on this ....have some prior clg engagements

[2022-11-21 17:58] MariaBeah opened #272 "Job Opportunity - Data Architect - SnowFlake"
WEX is a leading financial technology service provider across a broad spectrum of sectors, including fleet, travel, and healthcare.
We are looking for Data Architect - SnowFlake.
Find the full job description and compensation [https://wexinc.wd5.myworkdayjobs.com/WEXInc/job/US---Remote/Data-Architect---SnowFlake_R9080]

Feel free to reach out if needed.
Maria Beah Henrique - (She/Her)

Sr. Technic

[2022-11-21 21:53] MariaBeah opened #273 "[Remote] Web Application Developer at WEX"
WEX is a leading financial technology service provider across a broad spectrum of sectors, including fleet, travel, and healthcare.
We are looking for a Full-time Web Application Developer, with experience with Golang, MongoDB, AWS, and Terraform.
Use the link below to access the full job description, and compensation.
https://wexinc.wd5.myworkdayjobs.com/WEXInc/job/US---Remote/Flume---Web-Applica